<h1 align="center">Title: Indian Startup Funding Analysis</h1>

## Business Objective:
The goal of this project is to investigate the Indian Startup Ecosystem to better understand and provide valuable insight into the opportunites and challenges in the ecosystem in order to help stakeholders who plan on venturing into the startup ecosystem in India to make informed decisions based on findings from analyzing the dataset from 2018 to 2021.

### Import all necessary libraries

In [2]:
# Data Manipulation Libraries
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import re

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Database Libraries
import pyodbc

# Other Utilities
from dotenv import dotenv_values
from warnings import filterwarnings
filterwarnings('ignore')

### Create connection for SQL Server

In [3]:
# Load Environment Variables
config = dotenv_values('.env')

Server_name = config.get('Server')
Database_name = config.get('Database')
Username = config.get('Login')
PassWord = config.get('Password')

# Create Database Connection
connection_string = f"DRIVER={{SQL Server}};SERVER={Server_name};DATABASE={Database_name};UID={Username};PWD={PassWord}"

connection = pyodbc.connect(connection_string)

### Load tables from SQL and save a copy of the dataset

In [4]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2020"
df_2020 = pd.read_sql(query, connection)

# Preview the dataset
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [5]:
df_2020.shape

(1055, 10)

In [6]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2021"
df_2021 = pd.read_sql(query, connection)

# Preview the dataset
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [7]:
df_2021.shape

(1209, 9)

In [8]:
# Save the dataset as csv files for each year
# df_2021.to_csv('startup_funding2021.csv')
# df_2020.to_csv('startup_funding2020.csv')

In [9]:
df_2021.shape

(1209, 9)

### Load other dataset in csv file

In [10]:
# Read csv file
df_2018 = pd.read_csv('startup_funding2018.csv')
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [11]:
df_2018.shape

(526, 6)

In [12]:
# Read csv file
df_2019 = pd.read_csv('startup_funding2019.csv')
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [13]:
df_2019.shape

(89, 9)

<h3>Hypothesis</h3>
<p>Null: Tech startups do not receive enough funding from investors.</p>
<p>Alternative: Tech startups receive enough funding from investors.</p>

<h3>Questions</h3>

1. What is the total amount of funding received from investors from 2018 to 2021?
2. How many startups emerged from 2018 to 2021?
3. What is the level of funding for startups based on their sector?
4. How dispersed are the startup firms over the locations?
5. What is the trend of funding based on the years of funding?
6. Is there a relationship between stage and funding receive?

## Rename columns, generate columns where needed and merge datasets

In [14]:
# Add Funding Year for all the dataset
df_2021['Funding_Year']=2021; df_2020['Funding_Year']=2020; df_2019['Funding_Year']=2019; df_2018['Funding_Year']=2018

In [15]:
# Adjust the column names of the columns in the datasets

df_2021.rename(columns={'Amount': 'Amount($)'},inplace=True)

df_2020.rename(columns={'Amount': 'Amount($)'},inplace=True)

df_2019.rename(columns={'Company/Brand': 'Company_Brand',
                        'What it does': 'What_it_does'}, inplace=True)

df_2018.rename(columns={'Company Name': 'Company_Brand',
                'Amount': 'Amount($)',
                'About Company': 'What_it_does',
                'Round/Series': 'Stage'}, inplace=True)

In [16]:
df_2021.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021

In [17]:
df_2020.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020

In [18]:
df_2019.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019

In [19]:
df_2018.head(1)

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018

Observing a preview of all the dataset, we will consider the 2021 dataset as our base format the columns in all our dataset. The 2018 dataset do not follow the agreed base dataset and must be corrected to meet the standard. We see for instance from the Location column that the value in the first index position matches the values for HeadQuarters in the other datasets. The Location column in the 2018 dataset must be dropped and the industry column name changed to Sector.

### Extract HeadQuarter from Location column in the 2018 dataset

In [20]:
# Add HeadQuarter column from the location column
df_2018['HeadQuarter'] = df_2018['Location'].str.split(',').str[0]
df_2018.head()

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year,HeadQuarter
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Bangalore
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,Mumbai
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,Gurgaon
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,Noida
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,Hyderabad

In [21]:
df_2018.rename(columns={'Industry':'Sector'}, inplace=True)

df_2018.drop('Location', axis=1, inplace=True)

df_2018.head()

,Company_Brand,Sector,Stage,Amount($),What_it_does,Funding_Year,HeadQuarter
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"TheCollegeFever is a hub for fun, fiesta and f...",2018,Bangalore
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000",A startup which aggregates milk from dairy far...,2018,Mumbai
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000",Leading Online Loans Marketplace in India,2018,Gurgaon
3,PayMe India,"Financial Services, FinTech",Angel,2000000,PayMe India is an innovative FinTech organizat...,2018,Noida
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,Eunimart is a one stop solution for merchants ...,2018,Hyderabad

Concatenate the dataset into one full dataset

In [22]:
full_df = pd.concat([df_2021, df_2020, df_2019, df_2018],ignore_index=True)
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021,NaN

## Exploratory Data Analysis (EDA)

In [23]:
print('The rows and columns in the dataset are', full_df.shape, 'respectively.')

The rows and columns in the dataset are (2879, 11) respectively.

In [24]:
# Check structure of the dataset
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount($)      2622 non-null   object
 8   Stage          1941 non-null   object
 9   Funding_Year   2879 non-null   int64
 10  column10       2 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 247.5+ KB

We see the datatype for each column in the dataset and the number of non-null values in each column.

<h3>Check for missing values</h3>

In [25]:
# Check for total missing values in the columns
full_df.isna().sum()

Company_Brand       0
Founded           769
HeadQuarter       114
Sector             18
What_it_does        0
Founders          545
Investor          626
Amount($)         257
Stage             938
Funding_Year        0
column10         2877
dtype: int64

* We see the total number of missing values in the columns.
* Handling of missing values will be done in the data cleaning phase when the individual columns are inspected.

<h3>Check for duplicate values</h3>

In [26]:
f'There are {full_df.duplicated().sum()} duplicate values in the 2021 dataset'

'There are 23 duplicate values in the 2021 dataset'

* Handing of duplicate values will be done in the data cleaning phase when the  individual columns are inspected.

<h3>Check the descriptive statistics of all the columns in each dataset</h3>

In [27]:
full_df.describe(include=['number', 'object']).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,2879,2214,BharatPe,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,2110.0,NaN,NaN,NaN,2016.079621,4.368006,1963.0,2015.0,2017.0,2019.0,2021.0
HeadQuarter,2765,141,Bangalore,866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,2861,873,FinTech,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,2879,2691,Provides online learning classes,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,2334,1980,"Ashneer Grover, Shashvat Nakrani",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,2253,1777,Inflection Point Ventures,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),2622,774,—,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,1941,75,Seed,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Funding_Year,2879.0,NaN,NaN,NaN,2020.023619,1.086974,2018.0,2020.0,2020.0,2021.0,2021.0
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h4>From the descriptive tables above, we are able to observe the minimum, maximum, and other statistics of the columns. The categorical columns however do not have most of these values as we cannot get most of the statistical measures on categorical values. Further investigation on the columns will be proceeded with in order to get a wholistic view of the dataset.</h4>

## Data Cleaning

### Correct duplicates in the dataset

In [28]:
f'We have {full_df.duplicated().sum()} duplicated rows in the dataset and since there are no unique identifiers assigned to the values we drop the duplicated values.'

'We have 23 duplicated rows in the dataset and since there are no unique identifiers assigned to the values we drop the duplicated values.'

In [29]:
# Correct duplicates in the entire dataset
full_df.drop_duplicates(keep='first', inplace=True)

full_df.duplicated().sum()

0

### Drop Column 10 from the dataset

Considering the number of missing values in the column, imputing is with any value will be in-valid hence we must drop the column.

In [30]:
# Drop column10
full_df.drop('column10', axis=1, inplace=True)
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

### Check the amount column for inconsistencies

In [31]:
# Check the unique values in the column
full_df['Amount($)'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', 200000.0, 100000.0, nan, 400000.0,
       340000.0, 600000.0, 45000000.0, 1000000.0, 2000000.0, 1200000.0,
       660000000.0, 120000.0, 7500000.0, 5000000.0, 500000.0, 3000000.0,
       10000000.0, 145000000.0, 100000000.0, 21000000.0, 4000000.0,
       20000000.0, 560000.0, 275000.0, 4500000.0, 15000000.0, 390000000.0,
       7000000.0, 5100000.0, 700000000.0, 2300000.0, 700000.0, 19000000.0,
       9000000.0, 40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0,
       80000000.0, 30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0,
       35000000.0, 300000.0, 25000000.0, 3500000.0, 200000000.0,
       6000000.0, 1300000.0, 4100000.0, 575000.0, 800000.0, 28000000.0,
       18000000.0, 3200000.0, 900000.0, 250000.0, 4700000.0, 75000000.0,
       8000000.0, 121000000.0, 55000000.0, 3300000.0, 11000000.0,
       16000000.0, 5400000.0, 150000000.0, 4200000.0, 22000000.0,
       52000000.0, 1100000.0, 118000000.0, 1600000.0, 18500000.0,
       70000000000.0, 800000000.0, 400000000.0, 150000.0, 176000000.0,
       60000000.0, 470000.0, 240000.0, 3000000000.0, 74000000.0,
       62000000.0, 2100000.0, 500000000.0, 12500000.0, 2200000000.0,
       5060000.0, 225000000.0, 24700000.0, 7700000.0, 19067328.0,
       51000000.0, 115000.0, 54000.0, 20000.0, 803146.0, 238000.0,
       10220000.0, 1020000.0, 12000000.0, 13400000.0, 170000000.0,
       2900000.0, 543000.0, 90000000.0, 3400000.0, 23000000.0, 8090000.0,
       1030000.0, 5040000.0, 360000.0, 1400000.0, 650000.0, 54000000.0,
       42500000.0, 11370000.0, 325000.0, 410000.0, 450000.0, 682000.0,
       4050000.0, 1050000.0, 1080000.0, 4300000.0, 6800000.0, 2110000.0,
       764000.0, 603000.0, 409000.0, 292000.0, 286000.0, 136000.0,
       546000.0, 887000.0, 43000.0, 40900.0, 2200000.0, 5660000.0,
       350000.0, 110000.0, 122000000.0, 11635000.0, 2800000.0, 1065000.0,
       669000.0, 16076000.0, 649600.0, 6700000.0, 220000.0, 266500.0,
       2879000.0, 26500000.0, 351000.0, 46761000.0, 175000.0, 11241000.0,
       804000.0, 1340000.0, 467000.0, 133000.0, 3823000.0, 934000.0,
       293000.0, 198000.0, 927000.0, 971000.0, 3060000.0, 1862000.0,
       232000.0, 2888000.0, 1328000.0, 15500000.0, 56000000.0, 2250000.0,
       16753000.0, 3700000.0, 1470000.0, 530000.0, 267000.0, 3344000.0,
       7200000.0, 2743000.0, 6082000.0, 6609000.0, 27700000.0, 5940000.0,
       3964000.0, 5500000.0, 197000.0, 4327000.0, 459000.0, 3937000.0,
       1313500.0, 229800.0, 5305000.0, 264000.0, 1750000.0, 5967000.0,
       2980000.0, 323000.0, 1326000.0, 27000000.0, 5200000.0, 2530000.0,
       792000.0, 11363000.0, 1715000.0, 329000.0, 5271000.0, 8700000.0,
       3226000.0, 5900000.0, 44000000.0, 3879000.0, 13000000.0, 8800000.0,
       9500000.0, 920000.0, 35600000.0, 9400000.0, 790000.0, 480000.0,
       160000.0, 8200000.0, 4257000.0, 1410000.0, 349800.0, 786000.0,
       2004000.0, 123000000.0, 248000.0, 24000000.0, 14259000.0,
       24500000.0, 3800000.0, 18370000.0, 68525000.0, 4800000.0,
       1834000.0, 23850000.0, 43000000.0, 21600000.0, 4598000.0,
       13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0, 3148000.0,
       2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$28,000,000', '$275,000,000',
       '$22,000,000', '$140,500', '$540,000,000', '$182,700',
       '$15,500,000', '$230,000,000', '$49,400,000', '$32,000,000',
       '$6,800,000', '$36,000,000', '$5,700,000', '$60,000,000',
       '$220,000', '$2,800,000', '$2,100,000', '$311,000,000',
       '$4,800,000', '$693,000,000', '$33,000,000', '250000',
       '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '₹550,000,000', '$28,500,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '₹2,500,000,000', '$23,000,000',
       '₹44,000,000', '$3,240,000', '₹60,000,000', '₹650,000,000',
       '₹1,600,000,000', '₹70,000,000', '$14,000,000', '₹102,500,000',
       '₹1,200,000', '₹5,200,000,000', '$1,041,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '₹1,540,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$3,300,000', '₹580,000,000', '₹36,000,000', '₹340,000,000',
       '$210,000,000', '$37,680,000', '$20,000', '₹510,000,000',
       '₹2,200,000,000', '22000000', '70000', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

* We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value.
* Certain rows in the amount column have wrong inputs which are values of other columns and these rows must also be corrected.
* The undisclosed values in the column should be replaced with NaN since we can't replace it with zero as that will mean the amount raised was 0 dollars.
* The rows with INR currency sign will be converted using the exchange rate for the year in which funding was received.
* The column must be converted to a float dtype after correcting the inconsistencies

In [32]:
# Check for null values in the Amount column
f"There are {full_df['Amount($)'].isnull().sum()} total missing values in the amount column."

'There are 256 total missing values in the amount column.'

The missing values in the amount column cannot be replace with the mean or with zeros. Dealing with these missing values, the assumption is that all the missing values are undisclosed values in our dataset and hence we can drop these values.

In [33]:
# Drop missing values in the dataset where the Amount is null
full_df.dropna(axis=0, subset='Amount($)', inplace=True)

In [34]:
# Check missing values in the columns of the dataset
full_df.isnull().sum()

Company_Brand      0
Founded          700
HeadQuarter       97
Sector            16
What_it_does       0
Founders         539
Investor         612
Amount($)          0
Stage            787
Funding_Year       0
dtype: int64

In [35]:
# Assign the index of the rows to a string
symbols_string = full_df.index[full_df['Amount($)'].isin(['$','—'])]
symbols = ['$','—']

# Replace the columns with a dollar sign or ' in the amount value with NA
full_df.loc[symbols_string, ['Amount($)']] = full_df.loc[symbols_string, ['Amount($)']].replace(symbols, pd.NA, inplace=True)

In [36]:
# Preview rows with amount vales showing $Undisclosed, $undisclosed, and Undisclosed
undisclosed_list = ['$Undisclosed', '$undisclosed', 'Undisclosed']

# Get the index for all rows with undisclosed
undisclosed_index = full_df.index[full_df['Amount($)'].isin(undisclosed_list)]

# Replace undisclosed values with NA
full_df.loc[undisclosed_index, ['Amount($)']] = full_df.loc[undisclosed_index, ['Amount($)']].replace(undisclosed_list, pd.NA)

In [37]:
# Change the values in the amount column with the original amount values in the Stage column
amount_list = ['ITO Angel Network, LetsVenture', 'JITO Angel Network, LetsVenture', 'ah! Ventures', 'Upsparks']

amount_index = full_df.index[full_df['Amount($)'].isin(amount_list)]

stage_values = full_df.loc[amount_index, ['Amount($)']].values

full_df.loc[amount_index, ['Amount($)']] = full_df.loc[amount_index, ['Stage']].values

full_df.loc[amount_index, ['Stage']] = stage_values
full_df.loc[amount_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",$1200000,Upsparks,2021
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,$300000,ah! Ventures,2021
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",$300000,"ITO Angel Network, LetsVenture",2021
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,$1000000,"JITO Angel Network, LetsVenture",2021

In [38]:
# Change the values in the amount column with the original amount values in the Stage column
stage_list = ['Seed', 'Pre-series A', 'Series C']

stage_index = full_df.index[full_df['Amount($)'].isin(stage_list)]

full_df.loc[stage_index, ['Stage']] = full_df.loc[stage_index, ['Amount($)']].values

full_df.loc[stage_index, ['Amount($)']] = full_df.loc[stage_index, ['Investor']].values

full_df.loc[stage_index, ['Investor']] = full_df.loc[stage_index, ['Investor']].replace(stage_list, pd.NA, inplace=True)
full_df.loc[stage_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,$22000000,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,$5000000,Seed,2021
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",None,$1000000,Pre-series A,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",None,1000000\t#REF!,Seed,2021

In [39]:
# Inspect the rows and columns
full_df.shape

(2600, 10)

In [40]:
# Checl null values in the columns
full_df.isnull().sum()

Company_Brand      0
Founded          700
HeadQuarter       97
Sector            16
What_it_does       0
Founders         539
Investor         616
Amount($)        299
Stage            783
Funding_Year       0
dtype: int64

A total of 299 firms didn't disclose or failed to provide information on the amount of funding received. We will proceed with dropping these values since there do not give us insight into the funding amount received.

In [41]:
# Drop missing values where the missing value is in the Amount column
full_df.dropna(subset='Amount($)', inplace=True)

In [42]:
full_df.shape

(2301, 10)

In [43]:
# Change the data type of the amount column to string and replace the $ and , with an empty string
full_df['Amount($)'] = full_df['Amount($)'].astype(str)

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('$',''))

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace(',',''))

In [44]:
# Get the index position of the amount values that contain ₹
INR_index = full_df.index[full_df['Amount($)'].str.contains('₹')]
full_df.loc[INR_index, ['Amount($)']]

        Amount($)
2354    ₹40000000
2355    ₹65000000
2359    ₹16000000
2360    ₹50000000
2368   ₹100000000
...           ...
2866  ₹1130000000
2867   ₹810000000
2869  ₹1400000000
2870    ₹10000000
2877    ₹35000000

[144 rows x 1 columns]

* According to [Exchange Rates UK](https://www.exchangerates.org.uk/INR-USD-spot-exchange-rates-history-2018.html), the average rate for 1 INR to USD in 2018 was `0.0146` and that is the rate we are using to convert the INR amount to dollars.

In [45]:
# Change the INR symbol and other special characters and replace them with an empty string
INR_index = full_df.index[full_df['Amount($)'].str.contains('₹')]

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('₹',''))
full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('\t#REF!',''))

# Convert the amount column to a float datatype
full_df['Amount($)'] = full_df['Amount($)'].astype(float)

# Apply the exchange rate to the amount with the INR symbol
full_df.loc[INR_index, ['Amount($)']] = full_df.loc[INR_index, ['Amount($)']].values * 0.0146

full_df.loc[INR_index, ['Amount($)']]

       Amount($)
2354    584000.0
2355    949000.0
2359    233600.0
2360    730000.0
2368   1460000.0
...          ...
2866  16498000.0
2867  11826000.0
2869  20440000.0
2870    146000.0
2877    511000.0

[144 rows x 1 columns]

### Check the headquarter column for inconsistencies

In [46]:
full_df['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Thane', 'Pune', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Indore', 'Powai', 'Ghaziabad', 'Nagpur',
       'West Bengal', 'Patna', 'Samsitpur', 'Lucknow', 'Telangana',
       'Haryana', 'Silvassa', 'Faridabad', 'Ambernath', 'Panchkula',
       'Surat', 'Andheri', 'Telugana', 'Bhubaneswar', 'Kottayam',
       'Beijing', 'Panaji', 'Coimbatore', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Trivandrum', 'Bhilwara', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore',
       'Jaipur, Rajastan', 'Delhi', 'California', 'Dhingsara, Haryana',
       'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'France', 'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Kanpur', 'Hyderebad', 'Odisha', 'Bihar',
       'Uttar Pradesh', 'Banglore', nan, 'Uttar pradesh', 'Rajasthan',
       'Bengaluru', 'Kalkaji', 'India', 'Kota', 'Bangalore City',
       'Margão', 'Kannur', 'Kormangala', 'Mylapore', 'Guntur',
       'Kalpakkam', 'Bhopal', 'Alleppey', 'Guindy'], dtype=object)

* Foriegn values in the HeadQuarter column must be corrected
* Some HeadQuarters have values which are suppose to be trimmed down for consistency

In [47]:
sector_values = ['Information Technology & Services','Food & Beverages','Pharmaceuticals\t#REF!', 'Gurugram\t#REF!']
sector_values_index = full_df.index[full_df['HeadQuarter'].isin(sector_values)]
full_df.loc[sector_values_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed,2021
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,22000000.0,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,5000000.0,Seed,2021
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,75000000.0,Series C,2021

* At index position 242 and 257 the Investor, Founders, What_it_does and Sector values have been shifted to the left by one value and must be corrected
* At index position 1176, HeadQuarter value have been filled with Sector values which needs to be corrected
* From researching on the company names, it was realized that there were company's who had wrong values inputed and these values were corrected with the right information

In [48]:
full_df.loc[[32, 98, 241, 242, 1173, 1176, 257,1190,1393, 1483,2395, 2412]]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
32,SuperK,2019.0,"Small Towns, Andhra Pradesh",Retail,SuperK is a full-stack solution to empower sma...,Neeraj Menta,STRIVE VC,800000.0,Seed,2021
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",1200000.0,Upsparks,2021
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed,2021
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,22000000.0,Series C,2021
1173,moneyHOP,2018.0,London,Financial Services,moneyHOP is India’s first cross-border neo bank.,Mayank Goyal,None,1200000.0,Seed,2021
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,75000000.0,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,5000000.0,Seed,2021
1190,Prolgae,2016.0,The Nilgiris,Biotechnology,Prolgae Spirulina Supplies Pvt. Ltd. is a Nord...,Aakas Sadasivam,Vijayan,200000.0,Seed,2021
1393,Dhurnia,2018.0,"Dhingsara, Haryana",EdTech,Developer of an online learning platform inten...,"Ajay Kumar, Murari Singh","Chandigarh Angels Network, Modulor Capital",100000.0,None,2020
1483,Antaios,2016.0,France,Tech company,Developer of memory-based technology intended ...,Jean Pierre Nozieres,None,11000000.0,None,2020
2395,UClean,NaN,India,"Clean Energy, CleanTech, Laundry and Dry-cleaning",UClean is a tech enabled laundry service provi...,NaN,NaN,584000.0,Seed,2018
2412,Rooter,NaN,India,Sports,Rooter is a mobile-based platform,NaN,NaN,657000.0,Seed,2018

* HeadQuarter values for these rows will be corrected with the right values

In [49]:
# Change the value of Sector to value of HeadQuarter value at index position 241
full_df.loc[241, ['Sector']] = full_df.loc[241, ['HeadQuarter']].values

# Change the values of Investor, Founders, and What_it_does to value with right values at index positions 242, and 257
full_df.loc[[242, 257], ['Investor']] = full_df.loc[[242, 257], ['Founders']].values
full_df.loc[[242, 257], ['Founders']] = full_df.loc[[242, 257], ['What_it_does']].values
full_df.loc[[242, 257], ['What_it_does']] = full_df.loc[[242, 257], ['Sector']].values

# Swap the Sector and HeadQuarter values at index position 1176
hq_value_1176 = full_df.loc[1176, ['Sector']].values
full_df.loc[[242, 1176], ['Sector']] = full_df.loc[[242, 1176], ['HeadQuarter']].values

full_df.loc[1176, ['HeadQuarter']] = hq_value_1176

# Correct wrong values in the column with the right values
correction_values = ['Bangalore', 'Bangalore', 'New Delhi', 'Mumbai', 'Bengaluru', 'Manchester', 'Bangalore', 'Nilgiris', 'Guruguram', 'Grenoble','Lucknow', 'New Delhi']
correction_values_index = [32, 98, 241, 242, 1173, 1176, 257,1190,1393, 1483,2395, 2412]
full_df.loc[correction_values_index, ['HeadQuarter']] = correction_values

# Clean special characters in the column
full_df['HeadQuarter'] = full_df['HeadQuarter'].str.replace('\\t#REF!', '', regex=True)

* Certain values in the HeadQuarter column have more information than need. After inspecting the values it was realized that the correct values are in the first postion of the string so this inconsistency must be corrected too.

In [50]:
# Get the values in the first position of the strings in all the rows
full_df['HeadQuarter'] = full_df['HeadQuarter'].str.split(',').str.get(0)

In [51]:
# View all rows with HeadQuarter value as Bangalore City
full_df.loc[full_df['HeadQuarter'] == 'Bangalore City']

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
2476,FeedMyPockets,NaN,Bangalore City,"Advertising, Human Resources, Marketing",On Demand Staffing Platform,NaN,NaN,642400.0,Seed,2018
2591,Trell,NaN,Bangalore City,—,Trell is a location based network which helps ...,NaN,NaN,1250000.0,Seed,2018
2688,BetterPlace Safety Solutions Pvt. Ltd.,NaN,Bangalore City,"Human Resources, Security, Training",BetterPlace provides businesses with contracto...,NaN,NaN,3000000.0,Series A,2018
2721,Idha Skin Clinic,NaN,Bangalore City,"Beauty, Cosmetics, Health Care, Service Industry",Idha skin clinic jayanagar is dedicated to res...,NaN,NaN,73000.0,Seed,2018
2842,GoGaga,NaN,Bangalore City,"Dating, Private Social Networking",GoGaga is a new age dating app that has remove...,NaN,NaN,40000.0,Non-equity Assistance,2018

In [52]:
# Replace Bangalore City with Bangalore
bangalore_city_index =  full_df.index[full_df['HeadQuarter'] == 'Bangalore City']

full_df.loc[bangalore_city_index, ['HeadQuarter']] = 'Bangalore'

* Fill null values in the column with Unstated to help describe the data adequately

In [53]:
f"There are {full_df['HeadQuarter'].isnull().sum()} missing values in the HeadQuarter column and we will replace them with Unstated"

'There are 94 missing values in the HeadQuarter column and we will replace them with Unstated'

In [54]:
# Impute missing values with Unstated
imputer = SimpleImputer(missing_values=pd.NA, strategy='constant', fill_value='Unstated')
imputer.fit(full_df['HeadQuarter'].values.reshape(-1, 1))

SimpleImputer(fill_value='Unstated', missing_values=<NA>, strategy='constant')

In [55]:
# Replace the values in the position of the HeadQuarter column
full_df['HeadQuarter'] = imputer.transform(full_df['HeadQuarter'].values.reshape(-1, 1)).reshape(-1)

full_df['HeadQuarter'].isnull().sum()

0

### Check the Stage column for inconsistencies

Now, we have to correct the various stages. The assumption for this column are as follows:
* Pre-seed: This is the earliest stage of funding for a startup. Group all pre seed values under this value.
* Seed: This is the first round of institutional funding for a startup.
* Pre-series: This term is used to describe a funding round that is raised before a Series A round. Group all pre series values under this value
* Series A: This is the second round of institutional funding for a startup.
* Series B: This is the third round of institutional funding for a startup.
* Series C: This is the fourth round of institutional funding for a startup.
* Later Stage: Series D, Series E, Series F are subsequent rounds of institutional funding after a Series C round.
* Equity: This is a form of funding that is provided in exchange for an ownership stake in the company and it also constitutes PE and Grant.
* Others: Every other value that is present in the column.
* Unstated: These are undisclosed stages and null values in the column

In [56]:
# View unique variables in the Stage column
full_df['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       'Upsparks', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', 'ah! Ventures', 'ITO Angel Network, LetsVenture',
       'Series D1', 'JITO Angel Network, LetsVenture', 'Seies A',
       'Pre-series', 'Series A2', 'Series I', 'Pre-series C', 'Series B2',
       'Pre- series A', 'Edge', 'Pre-Series B', 'Seed A', 'Series A-1',
       'Seed round', 'Seed Round & Series A', 'Pre Series A',
       'Pre series A1', 'Series E2', 'Pre series A', 'Seed Round',
       'Pre series B', 'Pre series C', 'Angel Round', 'Mid series',
       'Pre seed round', 'Seed funding', 'Seed Funding', nan,
       'Fresh funding', 'Post series A', 'Seed fund', 'Series B+',
       'Angel', 'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Pre-Seed', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Corporate Round', 'Post-IPO Equity', 'Secondary Market',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [57]:
# Check null values in the column
f'''Considering we have {full_df['Stage'].isnull().sum()} missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset.'''

"Considering we have 708 missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset."

In [58]:
# Fill nulll values using simple imputer
imputer = SimpleImputer(missing_values=pd.NA, strategy='constant',  fill_value='Unstated')
imputer.fit(full_df['Stage'].values.reshape(-1, 1))

SimpleImputer(fill_value='Unstated', missing_values=<NA>, strategy='constant')

In [59]:
# Check for null values in the column
full_df['Stage'] = imputer.transform(full_df['Stage'].values.reshape(-1, 1)).reshape(-1)

full_df['Stage'].isnull().sum()

0

In [60]:
# Create a function which regroups the stage column values into our assumed values

def stage_cleaner(data, column_name='column'):
    stage_group = []
    for row in data[column_name]:
        if re.search(r'Pre[- ]?seed', row, re.IGNORECASE):
            stage_group.append('Pre seed')
        elif re.search(r'Seed|\bAngel\b', row, re.IGNORECASE):
            stage_group.append('Seed')
        elif re.search(r'Pre[- ]?ser(?:ies)?', row, re.IGNORECASE):
            stage_group.append('Pre series')
        elif re.search(r'Series[- ]?A(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series A')
        elif re.search(r'Series[- ]?B(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series B')
        elif re.search(r'Series[- ]?C(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series C')
        elif re.search(r'Series[- ]?[DEFGH]', row, re.IGNORECASE):
            stage_group.append('Later stage')
        elif re.search(r'\bGrant\b|\bEquity\b|PE', row, re.IGNORECASE):
            stage_group.append('Equity')
        elif re.search(r'\bund(?:isclosed)?\b|\bUnstated\b', row, re.IGNORECASE):
            stage_group.append('Unstated')
        else:
            stage_group.append('Others')
    return stage_group

full_df['Stage'] = stage_cleaner(full_df, column_name='Stage')

In [61]:
# Check null values to ensure values have been regrouped
full_df['Stage'].unique()

array(['Pre series', 'Unstated', 'Later stage', 'Series C', 'Seed',
       'Series B', 'Pre seed', 'Series A', 'Others', 'Equity'],
      dtype=object)

### Check the Company column for inconsistencies

We will check for company's with duplicate values in the Investor, Amount, and Funding year columns in order to have duplicate inputs corrected.

In [62]:
full_df[full_df.duplicated(subset=['Company_Brand', 'Investor', 'Amount($)', 'Funding_Year'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
108,TartanSense,2015.0,Bangalore,Information Technology,TartanSense unlocks value for small farm holde...,Jaisimha Rao,"FMC, Omnivore, Blume Ventures",5000000.0,Series A,2021
110,Kirana247,2018.0,New Delhi,Logistics & Supply Chain,An on-demand FMCG supply chain company leverag...,"Tarun Jiwarajka, Pankhuri Jiwarajka",None,1000000.0,Pre series,2021
113,IsGoingOnline,2015.0,Cochin,Retail,Kochi-based digital catalogue and marketplace ...,Eobin Alex,"Unicorn India Ventures, SEA Fund, Devdatt Shah",200000.0,Pre series,2021
114,Camp K12,2010.0,Gurugram,EdTech,Camp K12 is a global online school for 21st ce...,Anshul Bhagi,"Matrix Partners India, Elevation Capital",12000000.0,Series A,2021
115,Elda Health,2020.0,Bangalore,Healthcare,Elda Health is a digital wellness platform tha...,"Swathi Kulkarni, Sindhuri Ananth, Shubham Sharma","Avaana Capital, Orios Ventures",1500000.0,Seed,2021
116,Sporjo,2020.0,Mumbai,SportsTech,A one stop destination to build a successful c...,G Srinivvasan,Punit Balan,2000000.0,Pre series,2021
118,SuperGaming,2017.0,Pune,Gaming,"At SuperGaming, building India's best gaming c...","Roby John, Sanket Nadhani, Navneet Waraich","Skycatcher, AET Fund, BAce Capital, Dream Incu...",5500000.0,Series A,2021
277,Bizongo,2015.0,Mumbai,B2B Ecommerce,izongo is India’s largest B2B platform for mad...,"Sachin Agrawal, Aniket Deb, Ankit Tomar",Tiger Global,100000000.0,Later stage,2021
416,Siply,2020.0,Bangalore,FinTech,Siply Services operates as a micro-savings pla...,Sousthav Chakrabarty,Inflection Point Ventures,1000000.0,Seed,2021
1076,Ola Electric,2017.0,Bangalore,Automotive,Charging ahead to accelerate the world’s trans...,Bhavish Aggarwal,"Falcon Edge, Softbank",200000000.0,Unstated,2021
1318,Credgenics,2018.0,Gurugram,FinTech,Credgenics is a tech-enabled platform backed b...,"Anand Agrawal, Mayank Khera, Rishabh Goel","Accel India, Breadlake Ventures",3000000.0,Pre series,2020
1994,Rebel Foods,NaN,Unstated,Food tech,It runs internet kitchen,"Jaydeep Barman, Kallol Bannerjee",Coatue Management,50000000.0,Unstated,2020
2173,Yolo,2019.0,Gurugram,Transport,Intercity transportation startup,"Shailesh Gupta, Mukul Shah, Danish Chopra",Undisclosed,600000.0,Seed,2020

In [63]:
# Remove the duplicate values found
full_df.drop_duplicates(subset=['Company_Brand', 'Investor', 'Amount($)', 'Funding_Year'], keep='first', inplace=True)

### Check the Sector column for inconsistencies

In [64]:
full_df['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'E-commerce', 'B2B service',
       'Helathcare', 'Renewable Energy', 'Electronics', 'IT startup',
       'Food & Beverages', 'Aeorspace', 'Deep Tech', 'Dating', 'Gaming',
       'Robotics', 'Retail', 'Food', 'Oil and Energy', 'Tech Startup',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthcare', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Financial Services', 'Industrial Automation',
       'Health', 'Lifestyle', 'IoT', 'Banking', 'Computer software',
       'Tech startup', 'Digital mortgage',
       'Information Technology & Services', 'Furniture',
       'B2B marketplace', 'Healtcare', 'Location Analytics', 'Media',
       'Consumer Electronics', 'Tobacco', 'Deeptech', 'Insuretech',
       'MLOps platform', 'Venture Capital', 'Pet care', 'Drone',
       'Wholesale', 'Construction', 'E-learning', 'Consumer Services',
       'Venture Capital & Private Equity', 'Health, Wellness & Fitness',
       'OTT', 'Education Management', 'Computer Software', 'Insurance',
       'Software Startup', 'Computer & Network Security',
       'Capital Markets', 'Social network', 'Hospital & Health Care',
       'Music', 'Pharmaceuticals\t#REF!',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'Online Media', 'B2B Ecommerce',
       'Social commerce', 'Mobile Games', 'Food Production', 'HeathTech',
       'Content publishing', 'Water purification',
       'Innovation Management', 'Software company', 'Automation',
       'Food Industry', 'Celebrity Engagement', 'Trading platform',
       'Personal Care', 'Cannabis startup', 'Blogging', 'BioTechnology',
       'B2B Marketplace', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'Health care', 'EV startup', 'HR Tech',
       'Blockchain startup', 'Food and Beverages', 'Beverages',
       'Manufacturing startup', 'Cryptocurrency',
       'Vehicle repair startup', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Consulting', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Eyewear', 'D2C Business',
       'Biotechnology', 'Human Resources', 'Farming', 'Internet',
       'SpaceTech', 'Consumer software', 'Social community', 'Fishery',
       'Online storytelling', 'Aviation', 'Job discovery platform',
       'HealthCare', 'Heathcare', 'CRM', 'Software', 'Nutrition',
       'Innovation management', 'Community platform',
       'Venture capitalist', 'Networking', 'AR startup', 'MarTech',
       'Advertisement', 'D2C Fashion', 'Bike Rental', 'Beauty products',
       'Tourism', 'Rental space', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'Sports startup', 'AI company',
       'Matrimony', 'Clothing', 'Analytics', 'Finance', 'IoT platform',
       'Commerce', 'Renewables & Environment', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Crypto', 'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Healthtech', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup', 'Design', 'B2B Travel',
       'Interior Design', 'Product studio', 'Aviation & Aerospace',
       'Staffing & Recruiting', 'Escrow', 'Crowdsourcing',
       'Food & Bevarages', 'Food Delivery', 'Virtual auditing startup',
       'Work fulfillment', 'Telecommunication', 'Medtech',
       'Cloud company', 'Renewable player', 'IoT startup',
       'Marketing company', 'Retail startup', 'Co-working Startup',
       'Finance company', 'Video sharing platform', 'Gaming startup',
       'Consumer appliances', 'Conversational AI platform',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'Job portal',
       'Digital Media', 'Dairy startup', 'Content management',
       'AI Company', 'Tech company', 'Scanning app',
       'Biotechnology company', 'PaaS startup', 'Automobiles',
       'AR/VR startup', 'Recruitment startup', 'QSR startup', 'Edtech',
       'Fertility tech', 'FM', 'Nutrition sector', 'Tech platform',
       'Video', 'Retail Tech', 'Sles and marketing', 'FoodTech',
       'Bike marketplace', 'Agri tech', 'Fitness startup', 'AR platform',
       'Content marketplace', 'Soil-Tech', 'Ayurveda tech', 'Cleantech',
       'Sanitation solutions', 'Home Design', 'Solar solution',
       'Jewellery startup', 'Multinational conglomerate company',
       'Deeptech startup', 'Tech', 'Venture capital', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'Car Service', 'Agriculture', 'Personal care startup',
       'Customer service company', 'Marketing startup',
       'Service industry', 'AI', 'Jewellery', 'HR Tech startup',
       'Automotive Startup', 'Publication', 'EdTech Startup', 'Car Trade',
       'EdtTech', 'Manufacturing', 'AI Platform', 'Solar SaaS',
       'WL & RAC protection', 'Home interior services',
       'Agritech startup', 'API platform', 'Electricity', 'FMCG',
       'Insurance Tech', 'Video personalization', 'Software Company',
       'Biomaterial startup', 'Craft Beer', 'Investment',
       'Battery manufacturer', 'Nano Distribution Network', 'AI health',
       'Dating app', 'Fintech', 'Healthcare/Edtech', 'Agritech/Commerce',
       'Social e-commerce', 'Food & Logistics', 'HR', None, 'Agritech',
       'Interior design', 'Foodtech', 'Appliance', 'HR tech', 'Food tech',
       'Solar Solution', 'Fashion Tech', 'Nutrition tech',
       'Cloud Kitchen', 'IoT/Automobile', 'Ecommerce', 'Eye Wear',
       'Digital tech', 'Data Intelligence', 'Co-living', 'Defense tech',
       'Marketplace', 'Construction tech', 'Coworking', 'Micro-mobiity',
       'Beauty', 'Logitech', 'Med Tech', 'Biotech', 'Mobility/Transport',
       'Travel', 'SaaS/Edtech', 'Automotive tech',
       'Supply chain, Agritech', 'Spacetech', 'Pharmaceutical',
       'Data Analytics', 'Biopharma', 'Beauty & wellness',
       'Travel & SaaS', 'Media Tech', 'E store', 'Health and Fitness',
       'Technology', 'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'Proptech', 'AI & Data science',
       'Automotive and Rentals', 'E-tail', 'AI & Media',
       'Content Marktplace', 'Visual Media', 'Hygiene', 'Insurtech',
       'Transport', 'VR & SaaS', 'Sales & Services', 'Social Commerce',
       'Estore', 'E-market', 'Accomodation', 'E-mobility', 'Ad-tech',
       'Transport Automation', 'Techonology', 'Dairy',
       'Transport & Rentals', 'AI Robotics', 'Preschool Daycare',
       'B2B Agritech', 'E-connect', 'Consultancy', 'Pharmacy',
       'Deisgning', 'Taxation', 'Automobile Technology', 'AI & Tech',
       'Insurance technology', 'Robotics & AI', 'E-marketplace',
       'Food & Nutrition', nan, 'E-Sports', 'Food & tech', 'Legal tech',
       'Mutual Funds', 'Cybersecurity', 'Yoga & wellness',
       'Virtual Banking', 'Marketing & Customer loyalty', 'Infratech',
       'Automobile & Technology',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech', 'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Food and Beverage', 'Autonomous Vehicles',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Internet of Things, Telecommunications',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food',
       'E-Commerce, Fashion, Jewelry, Retail', 'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety',
       'Fitness, Health Care, Wellness', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—',
       'Big Data, Consumer Lending, FinTech',
       'Health Care, Medical, Pharmaceutical', 'Trading Platform',
       'Wellness', 'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Consumer, Financial Services, FinTech',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Marketplace, Real Estate, Rental Property', 'Health Care',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology',
       'E-Commerce, Fashion, Lifestyle',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile', 'E-Learning',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Consumer Lending, FinTech',
       'Internet, Social Network, TV', 'Events', 'Automotive, Retail',
       'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Artificial Intelligence',
       'Government, Information Technology, Software',
       'Education, Information Technology, Internet, Mobile, Software',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Consumer',
       'B2B, Farming, Marketplace', 'Wealth Management',
       'Education, Gaming, Training',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship',
       'Finance, Impact Investing, Mobile Apps',
       'Business Development, Market Research, Outsourcing',
       'Internet, Social News, Sports',
       'Finance, Financial Services, FinTech', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Food and Beverage, Food Processing',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Delivery Service, Logistics, Service Industry',
       'Information Services, Information Technology',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Health Care, Information Technology, Management Information Systems',
       'Career Planning, Education, Higher Education, Service Industry',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Food Processing',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring',
       'E-Commerce, E-Commerce Platforms, Retail',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Mobile Payments', 'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech', 'Agriculture, Mobile',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Health Diagnostics',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Mobile, Software, Travel',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',

Convert the values into capitalize string format to ensure consistency in the values

In [65]:
full_df['Sector'] = full_df['Sector'].str.capitalize()

In [66]:
full_df['Sector'].value_counts()

Sector
Fintech                                       219
Edtech                                        171
E-commerce                                     69
Financial services                             69
Agritech                                       55
                                             ...
Digital tech                                    1
Eye wear                                        1
Iot/automobile                                  1
Nutrition tech                                  1
Biotechnology, health care, pharmaceutical      1
Name: count, Length: 686, dtype: int64

Select the first index position of values in the column which have multiple values separated by a comma

In [67]:
full_df['Sector'] = full_df['Sector'].str.split(',').str.get(0)

In [68]:
full_df['Sector'].unique()

array(['Ai startup', 'Edtech', 'B2b e-commerce', 'Fintech',
       'Home services', 'Healthtech', 'E-commerce', 'B2b service',
       'Helathcare', 'Renewable energy', 'Electronics', 'It startup',
       'Food & beverages', 'Aeorspace', 'Deep tech', 'Dating', 'Gaming',
       'Robotics', 'Retail', 'Food', 'Oil and energy', 'Tech startup',
       'Agritech', 'Telecommuncation', 'Milk startup', 'Ai chatbot', 'It',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'Legaltech', 'Food delivery', 'Automotive',
       'Saas startup', 'Fantasy sports', 'Video communication',
       'Social media', 'Skill development', 'Rental', 'Recruitment',
       'Sports', 'Computer games', 'Consumer goods',
       'Information technology', 'Apparel & fashion',
       'Logistics & supply chain', 'Healthcare', 'Sportstech', 'Hrtech',
       'Wine & spirits', 'Mechanical & industrial engineering',
       'Spiritual', 'Financial services', 'Industrial automation',
       'Health', 'Lifestyle', 'Iot', 'Banking', 'Computer software',
       'Digital mortgage', 'Information technology & services',
       'Furniture', 'B2b marketplace', 'Healtcare', 'Location analytics',
       'Media', 'Consumer electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'Mlops platform', 'Venture capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer services', 'Venture capital & private equity', 'Ott',
       'Education management', 'Insurance', 'Software startup',
       'Computer & network security', 'Capital markets', 'Social network',
       'Hospital & health care', 'Music', 'Pharmaceuticals\t#ref!',
       "Moeving is india's only electric mobility focused technology platform with a vision to accelerate ev adoption in india.",
       'Cosmetics', 'Mobility', 'Real estate', 'Digital platform',
       'Online media', 'B2b ecommerce', 'Social commerce', 'Mobile games',
       'Food production', 'Heathtech', 'Content publishing',
       'Water purification', 'Innovation management', 'Software company',
       'Automation', 'Food industry', 'Celebrity engagement',
       'Trading platform', 'Personal care', 'Cannabis startup',
       'Blogging', 'Biotechnology', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2b manufacturing',
       'Home decor', 'Solar', 'Taas startup', 'Health care', 'Ev startup',
       'Hr tech', 'Blockchain startup', 'Food and beverages', 'Beverages',
       'Manufacturing startup', 'Cryptocurrency',
       'Vehicle repair startup', 'Pollution control equiptment',
       'Fashion & lifestyle', 'Blockchain', 'Consulting', 'Fitness',
       'D2c', 'Automobile', 'Environmental services', 'Merchandise',
       'Facilities services', 'Marketing & advertising', 'Eyewear',
       'D2c business', 'Human resources', 'Farming', 'Internet',
       'Spacetech', 'Consumer software', 'Social community', 'Fishery',
       'Online storytelling', 'Aviation', 'Job discovery platform',
       'Heathcare', 'Crm', 'Software', 'Nutrition', 'Community platform',
       'Venture capitalist', 'Networking', 'Ar startup', 'Martech',
       'Advertisement', 'D2c fashion', 'Bike rental', 'Beauty products',
       'Tourism', 'Rental space', 'Femtech', 'Cultural', 'Co-working',
       'Supply chain platform', 'Social platform', 'Cleantech',
       'Sports startup', 'Ai company', 'Matrimony', 'Clothing',
       'Analytics', 'Finance', 'Iot platform', 'Commerce',
       'Renewables & environment', 'Entertainment',
       'Business supplies & equipment', 'Nft', 'Oil & energy', 'Ev',
       'Company-as-a-service', 'Textiles',
       'Professional training & coaching', 'Maritime',
       'Housing marketplace', 'Furniture rental', 'Telecommunications',
       'Crypto', 'Equity management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher education', 'B2b',
       'Mechanical or industrial engineering', 'D2c jewellery',
       'Sales and distribution', 'Saas', 'Information services',
       'Translation & localization', 'Investment banking', 'Foootwear',
       'Legal services', 'Veterinary', 'Investment management',
       'Education', 'Management consulting', 'B2b startup', 'Design',
       'B2b travel', 'Interior design', 'Product studio',
       'Aviation & aerospace', 'Staffing & recruiting', 'Escrow',
       'Crowdsourcing', 'Food & bevarages', 'Virtual auditing startup',
       'Work fulfillment', 'Telecommunication', 'Medtech',
       'Cloud company', 'Renewable player', 'Iot startup',
       'Marketing company', 'Retail startup', 'Co-working startup',
       'Finance company', 'Video sharing platform', 'Gaming startup',
       'Consumer appliances', 'Conversational ai platform',
       'Saas platform', 'Ai platform', 'Fusion beverages', 'Job portal',
       'Digital media', 'Dairy startup', 'Content management',
       'Tech company', 'Scanning app', 'Biotechnology company',
       'Paas startup', 'Automobiles', 'Ar/vr startup',
       'Recruitment startup', 'Qsr startup', 'Fertility tech', 'Fm',
       'Nutrition sector', 'Tech platform', 'Video', 'Retail tech',
       'Sles and marketing', 'Foodtech', 'Bike marketplace', 'Agri tech',
       'Fitness startup', 'Ar platform', 'Content marketplace',
       'Soil-tech', 'Ayurveda tech', 'Sanitation solutions',
       'Home design', 'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup', 'Tech',
       'Food devlivery', 'Warehouse', 'Online financial service',
       'Eyeglasses', 'Battery design', 'Online credit management startup',
       'Beverage', 'Car service', 'Agriculture', 'Personal care startup',
       'Customer service company', 'Marketing startup',
       'Service industry', 'Ai', 'Jewellery', 'Hr tech startup',
       'Automotive startup', 'Publication', 'Edtech startup', 'Car trade',
       'Edttech', 'Manufacturing', 'Solar saas', 'Wl & rac protection',
       'Home interior services', 'Agritech startup', 'Api platform',
       'Electricity', 'Fmcg', 'Insurance tech', 'Video personalization',
       'Biomaterial startup', 'Craft beer', 'Investment',
       'Battery manufacturer', 'Nano distribution network', 'Ai health',
       'Dating app', 'Healthcare/edtech', 'Agritech/commerce',
       'Social e-commerce', 'Food & logistics', 'Hr', None, 'Appliance',
       'Food tech', 'Fashion tech', 'Nutrition tech', 'Iot/automobile',
       'Ecommerce', 'Eye wear', 'Digital tech', 'Data intelligence',
       'Co-living', 'Defense tech', 'Marketplace', 'Construction tech',
       'Coworking', 'Micro-mobiity', 'Beauty', 'Logitech', 'Med tech',
       'Biotech', 'Mobility/transport', 'Travel', 'Saas/edtech',
       'Automotive tech', 'Supply chain', 'Pharmaceutical',
       'Data analytics', 'Biopharma', 'Beauty & wellness',
       'Travel & saas', 'Media tech', 'E store', 'Health and fitness',
       'Technology', 'Interior & decor', 'Emobility', 'Automation tech',
       'Media & networking', 'Proptech', 'Ai & data science',
       'Automotive and rentals', 'E-tail', 'Ai & media',
       'Content marktplace', 'Visual media', 'Hygiene', 'Insurtech',
       'Transport', 'Vr & saas', 'Sales & services', 'Estore', 'E-market',
       'Accomodation', 'E-mobility', 'Ad-tech', 'Transport automation',
       'Techonology', 'Dairy', 'Transport & rentals', 'Ai robotics',
       'Preschool daycare', 'B2b agritech', 'E-connect', 'Consultancy',
       'Pharmacy', 'Deisgning', 'Taxation', 'Automobile technology',
       'Ai & tech', 'Insurance technology', 'Robotics & ai',
       'E-marketplace', 'Food & nutrition', nan, 'E-sports',
       'Food & tech', 'Legal tech', 'Mutual funds', 'Cybersecurity',
       'Yoga & wellness', 'Virtual banking',
       'Marketing & customer loyalty', 'Infratech',
       'Automobile & technology', 'Brand marketing', 'Credit',
       'Cloud infrastructure', 'Market research', 'Accounting',
       'Internet of things', 'Air transportation', 'Food and beverage',
       'Autonomous vehicles', 'Clean energy', 'Apps',
       'Media and entertainment', 'Broadcasting', '—', 'Big data',
       'Wellness', 'Consumer', 'Mobile', 'Artificial intelligence',
       'Energy', 'Digital marketing', 'Creative agency',
       'Consumer lending', 'Advertising', 'Agtech', 'Events',
       'Digital entertainment', 'Funding platform', 'Classifieds',
       'Enterprise resource planning (erp)', 'Audio', 'Government',
       'Business intelligence', 'Children', 'Wealth management',
       'Cloud computing', 'Medical', 'Business development', 'Training',
       'Dietary supplements', 'Collaboration', 'Crowdfunding', 'Catering',
       'Computer', 'Android', 'Delivery', 'Environmental consulting',
       'Commercial real estate', 'Basketball', 'Career planning',
       'Dental', 'Food processing', 'Commercial', 'Continuing education',
       'Communities', 'Customer service', 'Credit cards',
       'Mobile payments', 'Health insurance', 'Health diagnostics',
       'Search engine', 'Battery', 'Esports', 'Aerospace', 'Reading apps',
       'Last mile transportation', 'Cooking', 'Online games',
       'Online portals', 'Industrial'], dtype=object)

In [79]:
# Check null values in the column
f'''Considering we have {full_df['Sector'].isnull().sum()} missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset.'''

"Considering we have 16 missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset."

In [80]:
# Impute nulll values using simple imputer
imputer = SimpleImputer(missing_values=pd.NA, strategy='constant',  fill_value='Unstated')
imputer.fit(full_df['Sector'].values.reshape(-1, 1))

SimpleImputer(fill_value='Unstated', missing_values=<NA>, strategy='constant')

In [81]:
# Fill null values in the column
full_df['Sector'] = imputer.transform(full_df['Sector'].values.reshape(-1, 1)).reshape(-1)

full_df['Sector'].isnull().sum()

0

In [201]:
full_df.drop(['Assigned Sector', 'New'], axis=1, inplace=True)

In [238]:
a =full_df[full_df['sect'] == 'Unstated']
a['Sector'].unique()

array(['Construction', 'Education management', 'Music', 'Cosmetics',
       'Mobility', 'Content publishing', 'Celebrity engagement',
       'Cannabis startup', 'Blogging', 'Home decor', 'Taas startup',
       'Vehicle repair startup', 'Pollution control equiptment',
       'Consulting', 'Fitness', 'D2c', 'D2c business', 'Human resources',
       'Online storytelling', 'Crm', 'Cultural', 'Clothing',
       'Business supplies & equipment', 'Nft',
       'Professional training & coaching', 'Maritime', 'Higher education',
       'Translation & localization', 'Foootwear', 'Veterinary',
       'Education', 'Management consulting', 'Product studio',
       'Staffing & recruiting', 'Escrow', 'Crowdsourcing',
       'Work fulfillment', 'Job portal', 'Paas startup', 'Qsr startup',
       'Fm', 'Video', 'Fitness startup',
       'Multinational conglomerate company', 'Eyeglasses', 'Car service',
       'Service industry', 'Publication', 'Car trade',
       'Wl & rac protection', 'Home interior services',
       'Video personalization', 'Nano distribution network', 'Unstated',
       'Eye wear', 'Co-living', 'Coworking', 'Micro-mobiity',
       'Mobility/transport', 'Travel', 'E store', 'Interior & decor',
       'Emobility', 'E-tail', 'Content marktplace', 'Transport',
       'Sales & services', 'Estore', 'Transport & rentals', 'Deisgning',
       '—', 'Mobile', 'Enterprise resource planning (erp)', 'Government',
       'Children', 'Business development', 'Training', 'Collaboration',
       'Basketball', 'Career planning', 'Continuing education',
       'Mobile payments', 'Esports', 'Online games'], dtype=object)

Group the sector column into the 11 major industry sectors based on GSIC standards.

In [236]:
# Create a function which assigns industry sector to the values in the columnn

def assign_sector_to_values_regex(dataframe, column_name='column'):
    assigned_sectors = []
    for row in dataframe[column_name]:
        if re.search(r'\b(AI startup|.*Tech.*|.*tech|Robotics|IT startup|Deep.*|.*ware.*|SaaS.*|A.*|Biot.*|Nanotechnology|.*ata.*|Tech Startup|Deep.*|Drone|Computer software|Ott|Mobile games|Information services|Enterprise resource planning \(erp\)|Technology|Networking|Software|Computer software|Digital platform|Software company|.*esign|Digital mortgage|E-l.*|E-m.*|Hr.*|Analy.*|Recruitment|Skill development|Internet|.*platform|.*intelligence|Apps|Information Technology & Services|Iot|Software Startup|Computer & Network Security|Software|Innovation management|It|Cloud.*)\b', row, re.IGNORECASE):
            assigned_sectors.append('Information Technology')
        elif re.search(r'\b(Hel.*|Hea.*|Hosp.*|.*care|Pharma.*|Biopharma|Medical)\b', row, re.IGNORECASE):
            assigned_sectors.append('Health Care')
        elif re.search(r'\b(Fin.*|Banking|Capital Markets|Insurance|Insuretech|Cryptocurrency|Marketing|Equity Management|Investment.*|Insurance tech|Virtual banking|Wealth management|Credit.*|Crypto|Legal.*|.*chain|.*capital.*|Mutual funds|Consultancy|Taxation|Cybersecurity)\b', row, re.IGNORECASE):
            assigned_sectors.append('Financials')
        elif re.search(r'\b(B2.*|.*commerce.*|Home services|Retail|Dating|Gaming|Fashion.*|.*well.*|Spiritual|Matrimony|Beauty products|Tourism|Wholesale|Femtech|Co-working|Fantasy.*|Basketbal|Retail tech|Sport.*|Consumer appliances|Beauty|Consumer|Nut.*)\b', row, re.IGNORECASE):
            assigned_sectors.append('Consumer Discretionary')
        elif re.search(r'\b(Aer.*|Aeo.*|Renew.*|Electronics|AgriTech|Transportation|Automotive|Manufacturing startup|Manufacturing|Automobile|Automobiles|Logist.*|Mechanical & Industrial Engineering|Industrial Automation|CleanTech|Automotives|Renewable player|Technology|Automation|Automation tech|Renewable|Construction tech|Defense tech|Transport automation|Industrial|Environmental consulting|Commercial)\b', row, re.IGNORECASE):
            assigned_sectors.append('Industrials')
        elif re.search(r'\b(.*commun.*|.*media.*|Broadcasting|Advertising|Content management|Audio|Search engine|.*entertainment|Social.*|Events|Digital platform|Online media|Video sharing platform|Market research|Enterprise resource planning \(erp\)|Classifieds|Crowdfunding|Computer)\b', row, re.IGNORECASE):
            assigned_sectors.append('Communication Services')
        elif re.search(r'\b(.*nergy.*|EV|Solar.*|Ev startup|Electricity|Clean energy|Energy)\b', row, re.IGNORECASE):
            assigned_sectors.append('Energy')
        elif re.search(r'\b(.*lifestyle|Textiles|Eyewear|Merchandise|Biotech|Biomaterial startup|Battery design|Battery)\b', row, re.IGNORECASE):
            assigned_sectors.append('Materials')
        elif re.search(r'\b(Real Estate|Housing Marketplace|Furniture Rental|Real estate|Housing|Marketplace|Rental|Furniture|Rental space|Proptech|Commercial real estate)\b', row, re.IGNORECASE):
            assigned_sectors.append('Real Estate')
        elif re.search(r'\b(Water purification|Facilities Services|Environmental Services|Hygiene|Sanitation solutions|CleanTech|Battery manufacturer)\b', row, re.IGNORECASE):
            assigned_sectors.append('Utilities')
        elif re.search(r'\b(Food.*|Craft beer|.*verage.*|Appliance|Basketbal|Cooking|Milk startup|Farming|Fishery|Dental|Catering|Consumer lending|Wine.*|Fmcg|Customer service|Tobacco|Delivery|Dietary supplements|Last mile transportation|Online portals|Retail startup|Customer service company|Content marketplace|E-mobility|E-store|E-market|Agritech startup|Api platform|Agriculture|E-connect|Dairy.*|Health and fitness|Consumer)\b', row, re.IGNORECASE):
            assigned_sectors.append('Customer Staples')
        else:
            assigned_sectors.append('Unstated')
    return assigned_sectors


full_df['sect'] = assign_sector_to_values_regex(full_df, column_name='Sector')
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year,sect
0,Unbox Robotics,2019.0,Bangalore,Ai startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre series,2021,Information Technology
1,upGrad,2015.0,Mumbai,Edtech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,Unstated,2021,Information Technology
2,Lead School,2012.0,Mumbai,Edtech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Later stage,2021,Information Technology
3,Bizongo,2015.0,Mumbai,B2b e-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C,2021,Consumer Discretionary
4,FypMoney,2021.0,Gurugram,Fintech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed,2021,Information Technology