<h1 align="center">Title: Indian Startup Funding Analysis</h1>

## Business Objective:
The goal of this project is to investigate the Indian Startup Ecosystem to better understand and provide valuable insight into the opportunites and challenges in the ecosystem in order to help stakeholders who plan on venturing into the startup ecosystem in India to make informed decisions based on findings from analyzing the dataset from 2018 to 2021.

### Import all necessary libraries

In [516]:
# Data Manipulation Libraries
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import re

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Database Libraries
import pyodbc

# Other Utilities
from dotenv import dotenv_values
from warnings import filterwarnings
filterwarnings('ignore')

### Create connection for SQL Server

In [517]:
# Load Environment Variables
config = dotenv_values('.env')

Server_name = config.get('Server')
Database_name = config.get('Database')
Username = config.get('Login')
PassWord = config.get('Password')

# Create Database Connection
connection_string = f"DRIVER={{SQL Server}};SERVER={Server_name};DATABASE={Database_name};UID={Username};PWD={PassWord}"

connection = pyodbc.connect(connection_string)

### Load tables from SQL and save a copy of the dataset

In [518]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2020"
df_2020 = pd.read_sql(query, connection)

# Preview the dataset
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [519]:
df_2020.shape

(1055, 10)

In [520]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2021"
df_2021 = pd.read_sql(query, connection)

# Preview the dataset
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [521]:
df_2021.shape

(1209, 9)

In [522]:
# Save the dataset as csv files for each year
# df_2021.to_csv('startup_funding2021.csv')
# df_2020.to_csv('startup_funding2020.csv')

In [523]:
df_2021.shape

(1209, 9)

### Load other dataset in csv file

In [524]:
# Read csv file
df_2018 = pd.read_csv('startup_funding2018.csv')
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [525]:
df_2018.shape

(526, 6)

In [526]:
# Read csv file
df_2019 = pd.read_csv('startup_funding2019.csv')
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [527]:
df_2019.shape

(89, 9)

<h3>Hypothesis</h3>
<p>Null: Tech startups do not receive funding from investors.</p>
<p>Alternative: Tech startups receive funding from investors.</p>

<h3>Questions</h3>

1. What is the total amount of funding received from investors from 2018 to 2021?
2. How many startups emerged from 2018 to 2021?
3. What is the level of funding for startups based on their sector?
4. How dispersed are the startup firms over the locations?
5. What is the trend of funding based on the years of funding?
6. Is there a relationship between stage and funding receive?

## Rename columns, generate columns where needed and merge datasets

In [528]:
# Add Funding Year for all the dataset
df_2021['Funding_Year']=2021; df_2020['Funding_Year']=2020; df_2019['Funding_Year']=2019; df_2018['Funding_Year']=2018

In [529]:
# Adjust the column names of the columns in the datasets

df_2021.rename(columns={'Amount': 'Amount($)'},inplace=True)

df_2020.rename(columns={'Amount': 'Amount($)'},inplace=True)

df_2019.rename(columns={'Company/Brand': 'Company_Brand',
                        'What it does': 'What_it_does'}, inplace=True)

df_2018.rename(columns={'Company Name': 'Company_Brand',
                'Amount': 'Amount($)',
                'About Company': 'What_it_does',
                'Round/Series': 'Stage'}, inplace=True)

In [530]:
df_2021.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021

In [531]:
df_2020.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020

In [532]:
df_2019.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019

In [533]:
df_2018.head(1)

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018

Observing a preview of all the dataset, we will consider the 2021 dataset as our base format the columns in all our dataset. The 2018 dataset do not follow the agreed base dataset and must be corrected to meet the standard. We see for instance from the Location column that the value in the first index position matches the values for HeadQuarters in the other datasets. The Location column in the 2018 dataset must be dropped and the industry column name changed to Sector.

### Extract HeadQuarter from Location column in the 2018 dataset

In [534]:
# Add HeadQuarter column from the location column
df_2018['HeadQuarter'] = df_2018['Location'].str.split(',').str[0]
df_2018.head()

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year,HeadQuarter
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Bangalore
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,Mumbai
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,Gurgaon
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,Noida
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,Hyderabad

In [535]:
df_2018.rename(columns={'Industry':'Sector'}, inplace=True)

df_2018.drop('Location', axis=1, inplace=True)

df_2018.head()

,Company_Brand,Sector,Stage,Amount($),What_it_does,Funding_Year,HeadQuarter
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"TheCollegeFever is a hub for fun, fiesta and f...",2018,Bangalore
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000",A startup which aggregates milk from dairy far...,2018,Mumbai
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000",Leading Online Loans Marketplace in India,2018,Gurgaon
3,PayMe India,"Financial Services, FinTech",Angel,2000000,PayMe India is an innovative FinTech organizat...,2018,Noida
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,Eunimart is a one stop solution for merchants ...,2018,Hyderabad

Concatenate the dataset into one full dataset

In [536]:
full_df = pd.concat([df_2021, df_2020, df_2019, df_2018],ignore_index=True)
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021,NaN

## Exploratory Data Analysis (EDA)

In [537]:
print('The rows and columns in the dataset are', full_df.shape, 'respectively.')

The rows and columns in the dataset are (2879, 11) respectively.

In [538]:
# Check structure of the dataset
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount($)      2622 non-null   object
 8   Stage          1941 non-null   object
 9   Funding_Year   2879 non-null   int64
 10  column10       2 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 247.5+ KB

We see the datatype for each column in the dataset and the number of non-null values in each column.

<h3>Check for missing values</h3>

In [539]:
# Check for total missing values in the columns
full_df.isna().sum()

Company_Brand       0
Founded           769
HeadQuarter       114
Sector             18
What_it_does        0
Founders          545
Investor          626
Amount($)         257
Stage             938
Funding_Year        0
column10         2877
dtype: int64

* We see the total number of missing values in the columns.
* Handling of missing values will be done in the data cleaning phase when the individual columns are inspected.

<h3>Check for duplicate values</h3>

In [540]:
f'There are {full_df.duplicated().sum()} duplicate values in the 2021 dataset'

'There are 23 duplicate values in the 2021 dataset'

* Handing of duplicate values will be done in the data cleaning phase when the  individual columns are inspected.

<h3>Check the descriptive statistics of all the columns in each dataset</h3>

In [541]:
full_df.describe(include=['number', 'object']).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,2879,2214,BharatPe,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,2110.0,NaN,NaN,NaN,2016.079621,4.368006,1963.0,2015.0,2017.0,2019.0,2021.0
HeadQuarter,2765,141,Bangalore,866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,2861,873,FinTech,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,2879,2691,Provides online learning classes,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,2334,1980,"Ashneer Grover, Shashvat Nakrani",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,2253,1777,Inflection Point Ventures,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),2622,774,—,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,1941,75,Seed,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Funding_Year,2879.0,NaN,NaN,NaN,2020.023619,1.086974,2018.0,2020.0,2020.0,2021.0,2021.0
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h4>From the descriptive tables above, we are able to observe the minimum, maximum, and other statistics of the columns. The categorical columns however do not have most of these values as we cannot get most of the statistical measures on categorical values. Further investigation on the columns will be proceeded with in order to get a wholistic view of the dataset.</h4>

## Data Cleaning

### Correct duplicates in the dataset

In [542]:
f'We have {full_df.duplicated().sum()} duplicated rows in the dataset and since there are no unique identifiers assigned to the values we drop the duplicated values.'

'We have 23 duplicated rows in the dataset and since there are no unique identifiers assigned to the values we drop the duplicated values.'

In [543]:
full_df.drop_duplicates(keep='first', inplace=True)

full_df.duplicated().sum()

0

### Drop Column 10 from the dataset

Considering the number of missing values in the column, imputing is with any value will be in-valid hence we must drop the column.

In [544]:
full_df.drop('column10', axis=1, inplace=True)
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

### Check the amount column for inconsistencies

In [545]:
# Check the unique values in the column
full_df['Amount($)'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', 200000.0, 100000.0, nan, 400000.0,
       340000.0, 600000.0, 45000000.0, 1000000.0, 2000000.0, 1200000.0,
       660000000.0, 120000.0, 7500000.0, 5000000.0, 500000.0, 3000000.0,
       10000000.0, 145000000.0, 100000000.0, 21000000.0, 4000000.0,
       20000000.0, 560000.0, 275000.0, 4500000.0, 15000000.0, 390000000.0,
       7000000.0, 5100000.0, 700000000.0, 2300000.0, 700000.0, 19000000.0,
       9000000.0, 40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0,
       80000000.0, 30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0,
       35000000.0, 300000.0, 25000000.0, 3500000.0, 200000000.0,
       6000000.0, 1300000.0, 4100000.0, 575000.0, 800000.0, 28000000.0,
       18000000.0, 3200000.0, 900000.0, 250000.0, 4700000.0, 75000000.0,
       8000000.0, 121000000.0, 55000000.0, 3300000.0, 11000000.0,
       16000000.0, 5400000.0, 150000000.0, 4200000.0, 22000000.0,
       52000000.0, 1100000.0, 118000000.0, 1600000.0, 18500000.0,
       70000000000.0, 800000000.0, 400000000.0, 150000.0, 176000000.0,
       60000000.0, 470000.0, 240000.0, 3000000000.0, 74000000.0,
       62000000.0, 2100000.0, 500000000.0, 12500000.0, 2200000000.0,
       5060000.0, 225000000.0, 24700000.0, 7700000.0, 19067328.0,
       51000000.0, 115000.0, 54000.0, 20000.0, 803146.0, 238000.0,
       10220000.0, 1020000.0, 12000000.0, 13400000.0, 170000000.0,
       2900000.0, 543000.0, 90000000.0, 3400000.0, 23000000.0, 8090000.0,
       1030000.0, 5040000.0, 360000.0, 1400000.0, 650000.0, 54000000.0,
       42500000.0, 11370000.0, 325000.0, 410000.0, 450000.0, 682000.0,
       4050000.0, 1050000.0, 1080000.0, 4300000.0, 6800000.0, 2110000.0,
       764000.0, 603000.0, 409000.0, 292000.0, 286000.0, 136000.0,
       546000.0, 887000.0, 43000.0, 40900.0, 2200000.0, 5660000.0,
       350000.0, 110000.0, 122000000.0, 11635000.0, 2800000.0, 1065000.0,
       669000.0, 16076000.0, 649600.0, 6700000.0, 220000.0, 266500.0,
       2879000.0, 26500000.0, 351000.0, 46761000.0, 175000.0, 11241000.0,
       804000.0, 1340000.0, 467000.0, 133000.0, 3823000.0, 934000.0,
       293000.0, 198000.0, 927000.0, 971000.0, 3060000.0, 1862000.0,
       232000.0, 2888000.0, 1328000.0, 15500000.0, 56000000.0, 2250000.0,
       16753000.0, 3700000.0, 1470000.0, 530000.0, 267000.0, 3344000.0,
       7200000.0, 2743000.0, 6082000.0, 6609000.0, 27700000.0, 5940000.0,
       3964000.0, 5500000.0, 197000.0, 4327000.0, 459000.0, 3937000.0,
       1313500.0, 229800.0, 5305000.0, 264000.0, 1750000.0, 5967000.0,
       2980000.0, 323000.0, 1326000.0, 27000000.0, 5200000.0, 2530000.0,
       792000.0, 11363000.0, 1715000.0, 329000.0, 5271000.0, 8700000.0,
       3226000.0, 5900000.0, 44000000.0, 3879000.0, 13000000.0, 8800000.0,
       9500000.0, 920000.0, 35600000.0, 9400000.0, 790000.0, 480000.0,
       160000.0, 8200000.0, 4257000.0, 1410000.0, 349800.0, 786000.0,
       2004000.0, 123000000.0, 248000.0, 24000000.0, 14259000.0,
       24500000.0, 3800000.0, 18370000.0, 68525000.0, 4800000.0,
       1834000.0, 23850000.0, 43000000.0, 21600000.0, 4598000.0,
       13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0, 3148000.0,
       2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$28,000,000', '$275,000,000',
       '$22,000,000', '$140,500', '$540,000,000', '$182,700',
       '$15,500,000', '$230,000,000', '$49,400,000', '$32,000,000',
       '$6,800,000', '$36,000,000', '$5,700,000', '$60,000,000',
       '$220,000', '$2,800,000', '$2,100,000', '$311,000,000',
       '$4,800,000', '$693,000,000', '$33,000,000', '250000',
       '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '₹550,000,000', '$28,500,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '₹2,500,000,000', '$23,000,000',
       '₹44,000,000', '$3,240,000', '₹60,000,000', '₹650,000,000',
       '₹1,600,000,000', '₹70,000,000', '$14,000,000', '₹102,500,000',
       '₹1,200,000', '₹5,200,000,000', '$1,041,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '₹1,540,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$3,300,000', '₹580,000,000', '₹36,000,000', '₹340,000,000',
       '$210,000,000', '$37,680,000', '$20,000', '₹510,000,000',
       '₹2,200,000,000', '22000000', '70000', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

* We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value.
* Certain rows in the amount column have wrong inputs which are values of other columns and these rows must also be corrected.
* The undisclosed values in the column should be replaced with NaN since we can't replace it with zero as that will mean the amount raised was 0 dollars.
* The rows with INR currency sign will be converted using the exchange rate for the year in which funding was received.
* The column must be converted to a float dtype after correcting the inconsistencies

In [546]:
# Check for null values in the Amount column
f"There are {full_df['Amount($)'].isnull().sum()} total missing values in the amount column."

'There are 256 total missing values in the amount column.'

The missing values in the amount column cannot be replace with the mean or with zeros. Dealing with these missing values, the assumption is that all the missing values are undisclosed values in our dataset and hence we can drop these values.

In [547]:
# Drop missing values in the dataset where the Amount is null
full_df.dropna(axis=0, subset='Amount($)', inplace=True)

In [548]:
# Check missing values in the columns of the dataset
full_df.isnull().sum()

Company_Brand      0
Founded          700
HeadQuarter       97
Sector            16
What_it_does       0
Founders         539
Investor         612
Amount($)          0
Stage            787
Funding_Year       0
dtype: int64

In [549]:
# Assign the index of the rows to a string
symbols_string = full_df.index[full_df['Amount($)'].isin(['$','—'])]
symbols = ['$','—']

# Replace the columns with a dollar sign or ' in the amount value with NA
full_df.loc[symbols_string, ['Amount($)']] = full_df.loc[symbols_string, ['Amount($)']].replace(symbols, pd.NA, inplace=True)

In [550]:
# Preview rows with amount vales showing $Undisclosed, $undisclosed, and Undisclosed
undisclosed_list = ['$Undisclosed', '$undisclosed', 'Undisclosed']

# Get the index for all rows with undisclosed
undisclosed_index = full_df.index[full_df['Amount($)'].isin(undisclosed_list)]

# Replace undisclosed values with NA
full_df.loc[undisclosed_index, ['Amount($)']] = full_df.loc[undisclosed_index, ['Amount($)']].replace(undisclosed_list, pd.NA)

In [551]:
# Change the values in the amount column with the original amount values in the Stage column
amount_list = ['ITO Angel Network, LetsVenture', 'JITO Angel Network, LetsVenture', 'ah! Ventures', 'Upsparks']

amount_index = full_df.index[full_df['Amount($)'].isin(amount_list)]

stage_values = full_df.loc[amount_index, ['Amount($)']].values

full_df.loc[amount_index, ['Amount($)']] = full_df.loc[amount_index, ['Stage']].values

full_df.loc[amount_index, ['Stage']] = stage_values
full_df.loc[amount_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",$1200000,Upsparks,2021
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,$300000,ah! Ventures,2021
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",$300000,"ITO Angel Network, LetsVenture",2021
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,$1000000,"JITO Angel Network, LetsVenture",2021

In [552]:
# Change the values in the amount column with the original amount values in the Stage column
stage_list = ['Seed', 'Pre-series A', 'Series C']

stage_index = full_df.index[full_df['Amount($)'].isin(stage_list)]

full_df.loc[stage_index, ['Stage']] = full_df.loc[stage_index, ['Amount($)']].values

full_df.loc[stage_index, ['Amount($)']] = full_df.loc[stage_index, ['Investor']].values

full_df.loc[stage_index, ['Investor']] = full_df.loc[stage_index, ['Investor']].replace(stage_list, pd.NA, inplace=True)
full_df.loc[stage_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,$22000000,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,$5000000,Seed,2021
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",None,$1000000,Pre-series A,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",None,1000000\t#REF!,Seed,2021

In [553]:
full_df.shape

(2600, 10)

In [554]:
full_df.isnull().sum()

Company_Brand      0
Founded          700
HeadQuarter       97
Sector            16
What_it_does       0
Founders         539
Investor         616
Amount($)        299
Stage            783
Funding_Year       0
dtype: int64

A total of 299 firms didn't disclose or failed to provide information on the amount of funding received. We will proceed with dropping these values since there do not give us insight into the funding amount received.

In [555]:
full_df.dropna(subset='Amount($)', inplace=True)

In [556]:
full_df.shape

(2301, 10)

In [557]:
# Change the data type of the amount column to string and replace the $ and , with an empty string
full_df['Amount($)'] = full_df['Amount($)'].astype(str)

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('$',''))

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace(',',''))

In [558]:
# Get the index position of the amount values that contain ₹
INR_index = full_df.index[full_df['Amount($)'].str.contains('₹')]
full_df.loc[INR_index, ['Amount($)']]

        Amount($)
2354    ₹40000000
2355    ₹65000000
2359    ₹16000000
2360    ₹50000000
2368   ₹100000000
...           ...
2866  ₹1130000000
2867   ₹810000000
2869  ₹1400000000
2870    ₹10000000
2877    ₹35000000

[144 rows x 1 columns]

* According to [Exchange Rates UK](https://www.exchangerates.org.uk/INR-USD-spot-exchange-rates-history-2018.html), the average rate for 1 INR to USD in 2018 was `0.0146` and that is the rate we are using to convert the INR amount to dollars.

In [559]:
# Change the INR symbol and other special characters and replace them with an empty string
INR_index = full_df.index[full_df['Amount($)'].str.contains('₹')]

full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('₹',''))
full_df['Amount($)'] = full_df['Amount($)'].apply(lambda x: x.replace('\t#REF!',''))

# Convert the amount column to a float datatype
full_df['Amount($)'] = full_df['Amount($)'].astype(float)

# Apply the exchange rate to the amount with the INR symbol
full_df.loc[INR_index, ['Amount($)']] = full_df.loc[INR_index, ['Amount($)']].values * 0.0146

full_df.loc[INR_index, ['Amount($)']]

       Amount($)
2354    584000.0
2355    949000.0
2359    233600.0
2360    730000.0
2368   1460000.0
...          ...
2866  16498000.0
2867  11826000.0
2869  20440000.0
2870    146000.0
2877    511000.0

[144 rows x 1 columns]

### Check the headquarter column for inconsistencies

In [560]:
full_df['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Thane', 'Pune', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Indore', 'Powai', 'Ghaziabad', 'Nagpur',
       'West Bengal', 'Patna', 'Samsitpur', 'Lucknow', 'Telangana',
       'Haryana', 'Silvassa', 'Faridabad', 'Ambernath', 'Panchkula',
       'Surat', 'Andheri', 'Telugana', 'Bhubaneswar', 'Kottayam',
       'Beijing', 'Panaji', 'Coimbatore', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Trivandrum', 'Bhilwara', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore',
       'Jaipur, Rajastan', 'Delhi', 'California', 'Dhingsara, Haryana',
       'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'France', 'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Kanpur', 'Hyderebad', 'Odisha', 'Bihar',
       'Uttar Pradesh', 'Banglore', nan, 'Uttar pradesh', 'Rajasthan',
       'Bengaluru', 'Kalkaji', 'India', 'Kota', 'Bangalore City',
       'Margão', 'Kannur', 'Kormangala', 'Mylapore', 'Guntur',
       'Kalpakkam', 'Bhopal', 'Alleppey', 'Guindy'], dtype=object)

* Foriegn values in the HeadQuarter column must be corrected
* Some HeadQuarters have values which are suppose to be trimmed down for consistency

In [561]:
sector_values = ['Information Technology & Services','Food & Beverages','Pharmaceuticals\t#REF!', 'Gurugram\t#REF!']
sector_values_index = full_df.index[full_df['HeadQuarter'].isin(sector_values)]
full_df.loc[sector_values_index]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed,2021
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,22000000.0,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,5000000.0,Seed,2021
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,75000000.0,Series C,2021

* At index position 242 and 257 the Investor, Founders, What_it_does and Sector values have been shifted to the left by one value and must be corrected
* At index position 1176, HeadQuarter value have been filled with Sector values which needs to be corrected
* From researching on the company names, it was realized that there were company's who had wrong values inputed and these values were corrected with the right information

In [562]:
full_df.loc[[32, 98, 241, 242, 1173, 1176, 257,1190,1393, 1483,2395, 2412]]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
32,SuperK,2019.0,"Small Towns, Andhra Pradesh",Retail,SuperK is a full-stack solution to empower sma...,Neeraj Menta,STRIVE VC,800000.0,Seed,2021
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",1200000.0,Upsparks,2021
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed,2021
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,22000000.0,Series C,2021
1173,moneyHOP,2018.0,London,Financial Services,moneyHOP is India’s first cross-border neo bank.,Mayank Goyal,None,1200000.0,Seed,2021
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,75000000.0,Series C,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",None,5000000.0,Seed,2021
1190,Prolgae,2016.0,The Nilgiris,Biotechnology,Prolgae Spirulina Supplies Pvt. Ltd. is a Nord...,Aakas Sadasivam,Vijayan,200000.0,Seed,2021
1393,Dhurnia,2018.0,"Dhingsara, Haryana",EdTech,Developer of an online learning platform inten...,"Ajay Kumar, Murari Singh","Chandigarh Angels Network, Modulor Capital",100000.0,None,2020
1483,Antaios,2016.0,France,Tech company,Developer of memory-based technology intended ...,Jean Pierre Nozieres,None,11000000.0,None,2020
2395,UClean,NaN,India,"Clean Energy, CleanTech, Laundry and Dry-cleaning",UClean is a tech enabled laundry service provi...,NaN,NaN,584000.0,Seed,2018
2412,Rooter,NaN,India,Sports,Rooter is a mobile-based platform,NaN,NaN,657000.0,Seed,2018

* HeadQuarter values for these rows will be corrected with the right values

In [563]:
# Change the value of Sector to value of HeadQuarter value at index position 241
full_df.loc[241, ['Sector']] = full_df.loc[241, ['HeadQuarter']].values

# Change the values of Investor, Founders, and What_it_does to value with right values at index positions 242, and 257
full_df.loc[[242, 257], ['Investor']] = full_df.loc[[242, 257], ['Founders']].values
full_df.loc[[242, 257], ['Founders']] = full_df.loc[[242, 257], ['What_it_does']].values
full_df.loc[[242, 257], ['What_it_does']] = full_df.loc[[242, 257], ['Sector']].values

# Swap the Sector and HeadQuarter values at index position 1176
hq_value_1176 = full_df.loc[1176, ['Sector']].values
full_df.loc[[242, 1176], ['Sector']] = full_df.loc[[242, 1176], ['HeadQuarter']].values

full_df.loc[1176, ['HeadQuarter']] = hq_value_1176

# Correct wrong values in the column with the right values
correction_values = ['Bangalore', 'Bangalore', 'New Delhi', 'Mumbai', 'Bengaluru', 'Manchester', 'Bangalore', 'Nilgiris', 'Guruguram', 'Grenoble','Lucknow', 'New Delhi']
correction_values_index = [32, 98, 241, 242, 1173, 1176, 257,1190,1393, 1483,2395, 2412]
full_df.loc[correction_values_index, ['HeadQuarter']] = correction_values

# Clean special characters in the column
full_df['HeadQuarter'] = full_df['HeadQuarter'].str.replace('\\t#REF!', '', regex=True)

* Certain values in the HeadQuarter column have more information than need. After inspecting the values it was realized that the correct values are in the first postion of the string so this inconsistency must be corrected too.

In [564]:
# Get the values in the first position of the strings in all the rows
full_df['HeadQuarter'] = full_df['HeadQuarter'].str.split(',').str.get(0)

In [565]:
full_df.loc[full_df['HeadQuarter'] == 'Bangalore City']

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
2476,FeedMyPockets,NaN,Bangalore City,"Advertising, Human Resources, Marketing",On Demand Staffing Platform,NaN,NaN,642400.0,Seed,2018
2591,Trell,NaN,Bangalore City,—,Trell is a location based network which helps ...,NaN,NaN,1250000.0,Seed,2018
2688,BetterPlace Safety Solutions Pvt. Ltd.,NaN,Bangalore City,"Human Resources, Security, Training",BetterPlace provides businesses with contracto...,NaN,NaN,3000000.0,Series A,2018
2721,Idha Skin Clinic,NaN,Bangalore City,"Beauty, Cosmetics, Health Care, Service Industry",Idha skin clinic jayanagar is dedicated to res...,NaN,NaN,73000.0,Seed,2018
2842,GoGaga,NaN,Bangalore City,"Dating, Private Social Networking",GoGaga is a new age dating app that has remove...,NaN,NaN,40000.0,Non-equity Assistance,2018

In [566]:
# Replace Bangalore City with Bangalore
bangalore_city_index =  full_df.index[full_df['HeadQuarter'] == 'Bangalore City']

full_df.loc[bangalore_city_index, ['HeadQuarter']] = 'Bangalore'

* Fill null values in the column with Unstated to help describe the data adequately

In [567]:
f"There are {full_df['HeadQuarter'].isnull().sum()} missing values in the HeadQuarter column and we will replace them with Unstated"

'There are 94 missing values in the HeadQuarter column and we will replace them with Unstated'

In [568]:
imputer = SimpleImputer(missing_values=pd.NA, strategy='constant', fill_value='Unstated')
imputer.fit(full_df['HeadQuarter'].values.reshape(-1, 1))

SimpleImputer(fill_value='Unstated', missing_values=<NA>, strategy='constant')

In [569]:
full_df['HeadQuarter'] = imputer.transform(full_df['HeadQuarter'].values.reshape(-1, 1)).reshape(-1)

full_df['HeadQuarter'].isnull().sum()

0

In [570]:
full_df.loc[257, ['Investor']] = full_df.loc[257, ['Founders']].values

full_df.loc[257, ['Founders']] = full_df.loc[257, ['What_it_does']].values

full_df.loc[257, ['What_it_does']] = full_df.loc[257, ['Sector']].values

full_df.loc[257, ['Sector']] = full_df.loc[257, ['Sector']].replace(stage_list, pd.NA, inplace=True)
full_df.loc[257]

Company_Brand                                              MoEVing
Founded                                                     2021.0
HeadQuarter                                              Bangalore
Sector                                                        None
What_it_does     MoEVing is India's only Electric Mobility focu...
Founders         MoEVing is India's only Electric Mobility focu...
Investor                               Vikash Mishra, Mragank Jain
Amount($)                                                5000000.0
Stage                                                         Seed
Funding_Year                                                  2021
Name: 257, dtype: object

### Check the Stage column for inconsistencies

Now, we have to correct the various stages. The assumption for this column are as follows:
* Pre-seed: This is the earliest stage of funding for a startup. Group all pre seed values under this value.
* Seed: This is the first round of institutional funding for a startup.
* Pre-series: This term is used to describe a funding round that is raised before a Series A round. Group all pre series values under this value
* Series A: This is the second round of institutional funding for a startup.
* Series B: This is the third round of institutional funding for a startup.
* Series C: This is the fourth round of institutional funding for a startup.
* Later Stage: Series D, Series E, Series F are subsequent rounds of institutional funding after a Series C round.
* Equity: This is a form of funding that is provided in exchange for an ownership stake in the company and it also constitutes PE and Grant.
* Others: Every other value that is present in the column.
* Unstated: These are undisclosed stages and null values in the column

In [571]:
# View unique variables in the Stage column
full_df['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       'Upsparks', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', 'ah! Ventures', 'ITO Angel Network, LetsVenture',
       'Series D1', 'JITO Angel Network, LetsVenture', 'Seies A',
       'Pre-series', 'Series A2', 'Series I', 'Pre-series C', 'Series B2',
       'Pre- series A', 'Edge', 'Pre-Series B', 'Seed A', 'Series A-1',
       'Seed round', 'Seed Round & Series A', 'Pre Series A',
       'Pre series A1', 'Series E2', 'Pre series A', 'Seed Round',
       'Pre series B', 'Pre series C', 'Angel Round', 'Mid series',
       'Pre seed round', 'Seed funding', 'Seed Funding', nan,
       'Fresh funding', 'Post series A', 'Seed fund', 'Series B+',
       'Angel', 'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Pre-Seed', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Corporate Round', 'Post-IPO Equity', 'Secondary Market',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [572]:
# Check null values in the column
f'''Considering we have {full_df['Stage'].isnull().sum()} missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset.'''

"Considering we have 708 missing values in the Stge column, replacing it with the mode will reduce the quality of our dataset, thus, we will replace the missing values with 'Unstated' to give wide perspective to the dataset."

In [573]:
# Fill nulll values using simple imputer
imputer = SimpleImputer(missing_values=pd.NA, strategy='constant',  fill_value='Unstated')
imputer.fit(full_df['Stage'].values.reshape(-1, 1))

SimpleImputer(fill_value='Unstated', missing_values=<NA>, strategy='constant')

In [574]:
# Check for null values in the column
full_df['Stage'] = imputer.transform(full_df['Stage'].values.reshape(-1, 1)).reshape(-1)

full_df['Stage'].isnull().sum()

0

In [575]:
# Create a function which regroups the stage column values into our assumed values

def stage_cleaner(data, column_name='column'):
    stage_group = []
    for row in data[column_name]:
        if re.search(r'Pre[- ]?seed', row, re.IGNORECASE):
            stage_group.append('Pre seed')
        elif re.search(r'Seed|\bAngel\b', row, re.IGNORECASE):
            stage_group.append('Seed')
        elif re.search(r'Pre[- ]?ser(?:ies)?', row, re.IGNORECASE):
            stage_group.append('Pre series')
        elif re.search(r'Series[- ]?A(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series A')
        elif re.search(r'Series[- ]?B(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series B')
        elif re.search(r'Series[- ]?C(?:\D|$)', row, re.IGNORECASE):
            stage_group.append('Series C')
        elif re.search(r'Series[- ]?[DEFGH]', row, re.IGNORECASE):
            stage_group.append('Later stage')
        elif re.search(r'\bGrant\b|\bEquity\b|PE', row, re.IGNORECASE):
            stage_group.append('Equity')
        elif re.search(r'\bund(?:isclosed)?\b|\bUnstated\b', row, re.IGNORECASE):
            stage_group.append('Unstated')
        else:
            stage_group.append('Others')
    return stage_group

full_df['Stage'] = stage_cleaner(full_df, column_name='Stage')

In [578]:
# Check null values to ensure values have been regrouped
full_df['Stage'].unique()

array(['Pre series', 'Unstated', 'Later stage', 'Series C', 'Seed',
       'Series B', 'Pre seed', 'Series A', 'Others', 'Equity'],
      dtype=object)

### Check the Investor, Founders, and What_it_does columns for inconsistencies

In [ ]:
full_df['Investor'].unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', 'CDC Group, IDG Capital',
       'Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal', 'Vy Capital',
       'CIIE.CO, KIIT-TBI', None,
       '9Unicorns Accelerator Fund, Metaform Ventures',
       'SucSEED Indovation, IIM Calcutta Innovation Park',
       'Safe Planet Medicare', 'Impact Partners, C4D Partners',
       'Tiger Global Management, InnoVen Capital', 'Novo Tellus Capital',
       'Raintree Family Office, ADB arm', 'Inflection Point Ventures',
       'Mumbai Angels, Narendra Shyamsukha', 'Paradigm, Kunal Shah',
       'Matrix Partners India, GIC', 'Mumbai Angels Network, Expert DOJO',
       'GVFL', 'Kotak Mahindra Bank, FMO', 'Kalaari Capital',
       'NB Ventures, IAN Fund',
       'Sequoia Capital India, Hummingbird Ventures',
       'Gaurav Munjal, Snehil Khanor', 'JITO Angel Network, SOSV',
       'Chiratae Ventures, YourNest Venture Capital', 'STRIVE VC',
       'Venture Catalysts', 'Jaipuria Family Office', 'Amazon',
       'Riso Capital', 'MTG Ventures',
       'Qualcomm Ventures, Warburg Pincus', 'Morgan Stanley',
       'Alfa Ventures, Agility Venture Partners',
       'Stellaris Venture Partners, Ramakant Sharma', 'Spanache',
       'DSG Consumer Partners, Saama Capital', 'Hindustan Media Ventures',
       'Stellaris Venture Partners, Omidyar Network India, Flourish Ventures',
       'Angelbay Holdings, Faad Network',
       'Alteria Capital, Chiratae Ventures',
       'WaterBridge Ventures, Info Edge',
       'Carmignac, Falcon Edge Capital',
       'Chiratae Ventures, Bharat Innovation Fund',
       'Acko Technology, Services, LetsVenture',
       'Bertelsmann India Investments, Fullerton Financial Holdings',
       'Dragoneer Investment Group, Tiger Global Management',
       'http://100x.vc/',
       'TPG Growth, Caisse de Depot et Placement du Quebec',
       'Centrum Financial Services', 'Chiratae Ventures, BEENEXT',
       'Harsha Bhogle',
       'Tiger Global Management, Y Combinator Continuity Fund',
       'Michael & Susan Dell Foundation',
       'Falcon Edge India, Norwest Venture Partners',
       'SOSV, Omphalos Ventures India', 'Twitter Ventures, Pawan Munjal',
       'CitiusTech', 'Arena Holdings, Think Investments',
       'T Choithrams BVI, Ardor',
       'Kogta Financial India Limited, ICICI Bank',
       'SucSEED Venture Partners, TMT Connekt',
       'SAIF Partners, Venture Highway', 'Global Founders Capital',
       'JAFCO Asia, Chiratae Ventures', 'Y Combinator',
       'Artha Venture Fund', 'Jitendra Gupta, Amrish Rau',
       'FJ Labs, Brian Norgard', 'Indian Angel Network',
       'Elevation Partners, Emergent Ventures',
       'Kalaari Capital, Dream Capital', 'Lumikai',
       'Matrix Partners India', 'C4D Partners', 'Bertelsmann India',
       'Iron Pillar, Nordstar, Binny Bansal',
       'FMC, Omnivore, Blume Ventures', 'InvestCorp',
       'Pritesh Kumar, Bharat Gupta',
       'Unicorn India Ventures, SEA Fund, Devdatt Shah',
       'Matrix Partners India, Elevation Capital',
       'Avaana Capital, Orios Ventures', 'Punit Balan',
       'Y Combinator, Broom Ventures, Kunal Shah',
       'Skycatcher, AET Fund, BAce Capital, Dream Incubator, 1Up Ventures',
       'Eclear Leasing', 'First Cheque, Letsventure',
       'Sequoia Capital India, BEENEXT',
       'Tribe Capital, Moore Strategic Ventures (MSV)',
       'Fireside Ventures', 'Inflection Point Ventures, ONGC',
       'Titan Capital, Rockstud Capital,  John Abraham, WEH Ventures',
       'Info Edge Ventures', 'Accel', 'TradeCred',
       'Unicorn India Ventures', 'UC Inclusive Credit, Western Capital',
       'IIFL India Private Equity Fund, Smiti Holding & Trading Company',
       'Faering Capital', 'responsAbility Investments, Blue Orchard',
       'CRV, Nexus Venture Partners',
       'Salesforce Ventures, Sierra Ventures, Sequoia Capital India’s Surge',
       'Micelio Fund, growX ventures',
       'IIFL Wealth, Asset Management, Northern Arc Capital',
       'Better Capital, Ashish Achrekar', 'Alpha Wave Incubation',
       'Point One Capital, Yatra Angel Network (YAN), Opus Consulting, Manipal Technologies.',
       'Microsoft', 'Shell Ventures, Yamaha, Kunal Shah',
       'We Founder Circle',
       'Saama Capital, DSG Consumer Partners, Sharrp Ventures',
       'Tiger Global’s Scott Schleifer', 'Elevation Capital',
       'Venture Catalysts, Auxano Capital, Venture Garage, Yoga Capital, Ah!Ventures, Lead Angels',
       'Sixth Sense Ventures', '9Unicorns, Sequoia Capital India’s Surge',
       'Anicut Angel Fund, 9 Unicorns', 'Info Edge, FalconEdge',
       'WestCap Group, Tomales Bay Capital',
       'Chiratae Ventures, Better Capital',
       'Siguler Guff, Baillie Gifford',
       'IIFL AMC, Mankind Pharma Family Office, Aroa Ventures',
       'ITI Growth Opportunities', 'Amrac Investment Trust',
       'Amara Raja Batteries', 'India Infoline Finance',
       'Venture Highway', 'BEENEXT, Orios', 'Axilor',
       'Westbridge Capital, Tanglin Venture Partners',
       '100X.VC\ufeff,\ufeff Titan Capital, Rahul Mathur, Gaurav Mandlecha',
       'IIFL, Amicus Capital, Ananta Capital',
       'Venture Highway, Endiya Partners',
       'Verlinvest, Sequoia Capital India', 'Anicut Angel Fund',
       'Tiger Global',
       'Alphabit Fund, Fulgur Ventures, Stacks Accelerator, SBX Capital',
       'Roots Ventures, Velo Partners', 'Nexus Venture Partners',
       'Mumbai Angels Network, Huddle, Lumis Partners',
       'Better Capital, First Cheque, Titan Capital', 'Evolvence Capital',
       'SARA ELGI',
       'Nubank, Global Founders Capital, Sequoia Capital India, Matrix Partners India',
       'SucSEED Indovation Fund', 'ah! Ventures High Tables',
       'Eight Roads Ventures, Think Investments, Mankekar Family Office',
       'A91 Partners', 'Chiratae Ventures', 'Sequoia’s Surge',
       'Lead Angels, Titan Capital, Pravega Ventures',
       'Accel Partners, Elevation Capital',
       'Anicut Angel Fund, Axilor Ventures',
       'Ecosystem Ventures, CMM group', 'Disrupt ADQ, QIC',
       'Valar Ventures, IA Ventures', 'Sequoia Capital India', 'Zomato',
       'Lightspeed, Times Group, Tanglin Venture Partners',
       'Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gokul Rajaram, Shirish Nadkarni',
       'Tuscan Ventures, Ohm Stock Brokers, Artha Venture Fund',
       'Signal Peak Ventures', 'Evolvence, Hero Enterprise',
       'BlueOrchard Impact Investment Managers', 'Steadview Capital',
       'MassMutual Ventures', 'YourNest VC', 'Accel India',
       'Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose',
       'TVS Motor, Zoho', 'IIFL Asset Management',
       'Titan Capital, Haresh Chawla, AngelList Syndicate',
       '9Unicorns, Ashneer Grover', 'Founders Room Capital',
       '9Unicorns, ZNL', 'WEH Ventures',
       'Morgan Stanley Private Equity Asia',
       'Anshuman Maheshwary, Dr Srihari Raju Kalidindi',
       'Kunal Shah, Deepinder Goyal, Abhiraj Singh Bhal',
       'Guild Capital, RPSG Capital Ventures',
       'General Catalyst, Eight Roads Ventures, Elevation Capital',
       'NB Ventures, Earlsfield Capital', 'Varun Alagh, Sahil Barua',
       'SoftBank Vision Fund 2', 'Tribe Capital, Prime Venture Partners',
       'Jungle Ventures', 'Marquee international institutional investors',
       'Alkeon Capital', 'Y Combinator, Harvard Management',
       'Y Combinator\ufeff, \ufeffGoodwater Capital',
       'Shrishti Sahu, Umang Vohra', 'Astra Ventures, Gaurav Jaitly',
       'Capital A, Collective Artists Network',
       'Aditya Singhal, Nishant Sinha', 'Pentathlon Ventures',
       'Alpha Wave Ventures II, Tiger Global Management, SoftBank Vision Fund II',
       'KRAFTON', 'Chiratae Ventures, Lenskart Vision Fund', 'Recur Club',
       'DevX Venture Fund', 'DevX Venture Fund, Blume Founder Fund',
       'Ajith Daneil', 'Aurum Proptech', 'Y-Combinator',
       'The Good Glamm Group', 'Invus', 'Tiger Global, Prosus Ventures',
       'Shuru Up, Ankit Kedia, Arun Gupta',
       'Ankit Mehrotra, Saurabh Aggarwal', 'Sauce.vc',
       '3one4 Capital, Sixth Sense Ventures',
       'YCombinator, Justin Mateen, Pioneer Fund',
       'Sojitz Corporation, Stride Ventures',
       'IIFL Wealth, TPG Growth, Norwest Venture Partners',
       'Nabventures, Avaana Capital', 'Fluid Ventures, Mulberry Silks',
       'Rajesh Rajendran', 'Mike Novogratz, Neeraj Arora',
       'Tiger Global, Sequoia Capital', 'Shark Tank India',
       'Premji Invest, Steadview Capital', 'Sequoia',
       'Apis Insurtech Fund I', 'SK Tripathi, Sanjeev Gupta',
       'Hardcastle Petrofer', 'Ocean View Investment, QED Fund',
       'Omidyar Network, Tencent Holdings',
       'InnoVen Capital, Nexus Venture Partners', 'CIIE.CO',
       'Omidyar Network India', 'Yuj Ventures, Sixth Sense Ventures',
       'Premji Invest, Mirae Asset Naver Asia Growth Fund, Alpine Capital',
       'Inflection Point Ventures, SucSEED Venture Partners',
       'Capital One, Arrowroot Capital', 'YourNest Venture Capital',
       'Incubate Fund India', 'Kunal Shah, Greg Kidd',
       'InnoVen Capital, TEAMFund',
       'Venture Catalysts, 9Unicorns Accelerator Fund',
       'Venture Highway, Rohit Bansal', 'Fresco Capital, Social Starts',
       'Rohit Goutamchand, India CXO Fund',
       'Rajasthan Venture Capital Fund, ACPL Exports',
       'Amplo, Insight Partners', 'Better Capital', 'Justin Mateen',
       'View Trade Holding Corp',
       'InnoVen Capital, Bertelsmann India Investments',
       'Canaan Valley Capital, Glade Brook Capital Partners',
       'Vijay Shekhar Sharma, Dr Ritesh Malik',
       'RTP Global, Harshil Mathur', 'Paragon Partners, NABVENTURES',
       'EXPERT DOJO', 'Saama Capital, India Quotient',
       'InCred Financial Services, Vivriti Capital, Northern Arc Capital',
       'ah! Ventures', 'Somak Ghosh, M V Nair', 'Wurk',
       'Plutus Wealth Management, Turtle Entertainment',
       'Ambiga Subramanian, Goutham Ekollu', 'Accel, Owl Ventures',
       'Rajan Anadan', 'Jesse Lucas',
       'IDFC Private Equity, Bessemer Venture Partners',
       'Sequoia Capital India, Accel',
       'Venture Catalysts, Tahseen Consulting',
       'BlueOrchard Finance S A, Gojo & Company',
       'Better Capital, Titan Capital', 'Gojo & Company', 'Mumbai Angels',
       'Pegasus Tech Ventures, Base Partners', '3one4 Capital, Accel',
       'Hitesh Oberoi, Lightbox', 'YES Bank',
       'Hyperplane Venture Capital', 'Matrix Partners India, RTP Global',
       'Info Edge, Ruizheng Investment', 'Quess Corp India',
       'Jimmy Singh', 'Kunal Shah, Deepak Abbot', 'Accel, Nexus Venture',
       'Singapore Angel Network, Artha India Ventures',
       'Starfish Growth Partners, Investpad', 'Hashed',
       "Zerodha's Rainmatter Capital, Better Capital",
       'Sixth Sense Ventures, Colgate Palmolive',
       'Lightbox, Evolvence India Fund', 'Tomorrow Capital',
       'Inflection Point Ventures, DLabs',
       'InnoVen Capital, Steadview Capital', 'BlackSoil Capital',
       'Shell Foundation', 'PointOne Capital, Core91 VC',
       'Blockchain Capital, SBI Ven Capital',
       'Baring Private Equity Partners India, Talbros',
       'Sequoia Capital India, 3one4 Capital',
       'Prosus Ventures, RTP Global',
       'U.S. International Development Finance Corp, responsAbility',
       'Binance Labs, Zee Prime Capital', 'RP-Sanjiv Goenka Group',
       'IvyCap Ventures', 'Zone Startups In', 'Blue Ashva Capital',
       'Ribbit Capital, Kunal Shah', 'Ecom Express', 'InnoVen Capital',
       'Satish Grampurohit', 'Amit Singhal, Raine Ventures',
       'Octahedron Capital, Moonstone Capital',
       'Tiger Global, Dragoneer Investment Group, Steadview Capital, General Atlantic',
       'CDC Group, Aavishkaar Venture Capital',
       'Mumbai Angels, Amitesh Pandey', 'Think Investments',
       'Nexus Venture Partners, 23 High Networth Individuals (HNIs)',
       'Yatra Angel Network, BEENEXT',
       'Orios Venture Partners, Matrix Partners India', 'ContCentric',
       'Siana Capital', 'DST Global, General Catalyst',
       'Anthill Ventures', 'InnoVen Capital, InnoVen Capita',
       '3one4 Capital, DSP Group', 'Enzia Ventures, AngelList',
       'Steadview Capital, Insight Partners',
       'Invested Development, Pratithi Investment Trust',
       'Dhianu Das, Agility Venture Partners', 'Hindustan Media Venture',
       'Awign Enterprises', 'Siddharth Bhaskar Shah, Upsparks', 'S Chand',
       'Goldman Sachs, Tata Capital', 'growX ventures, Venture Gurukool',
       'Mount Judi India Growth Fund', 'GEF Capital’s South Asia Fund',
       'Sunil Sethia, Sunil Kumar Singhvi, Manish Mardia',
       'Sequoia Capital', 'Mechanism Capital, DACM',
       'Northern Arc Capital, Niyogin Fintech Limited, Credit Saison India, Vivriti Capital',
       'Pearl Investment LLC', '021 Capital, Sparrow Capital',
       'Kotak Investment Advisors Limited, Gruhas Proptech', 'VANS Group',
       'Sachin Tendulkar', '9Unicorns', 'Xentel Investments',
       'Accel Partners', 'Waterbridge, Lumikai', 'Auxano, Falcon5',
       'Infoedge ventures', 'JITO Angel Network', 'Jupiter',
       'Unitus Ventures', 'GIC, Infoedge', 'pi Ventures',
       'Northern Arc, Caspian Impact Investments', 'Sofina Ventures SA',
       'Tiger Global, Flipkart Ventures',
       'Inflection Point Ventures, Rockstud Capital, Pentathlon Ventures, Prophetic Ventures syndicate',
       'Prime VP', 'Tribe Capital, IFC Emerging Asia Fund, VEF',
       'Sequoia’s Surge, Y Combinator',
       'Gokul Rajaram, Pureland Venture, Wavemaker Partners',
       'Khosla Ventures', 'Accel Partners, Matrix India',
       'Omidyar Network India, Innoven Capital', 'Temasek, Falcon Edge',
       'Deep Kalra, Ashish Kashyap, Rajesh Magow',
       'IAN, Social Alpha, Startup Oasis', 'Capital India',
       'FirstCry, Lightspeed Venture Partners',
       'Accel, LetsVenture, 1Crowd', 'SAB Holdings', 'Titan Capital',
       'Lightspeed Venture Partners, Elevation Capital',
       'Mumbai Angels Network', 'LeapFrog, Khosla Ventures',
       'Ananta Capital', 'Northern Arc, Vivriti Capital',
       'TATA Cleantech Capital', 'Aqua-Spark', 'Climate Angels Fund',
       'Sequoia’s Surge, Nexus Venture Partners',
       'Entrepreneur First (EF), GrowX Ventures', 'Zephyr Peacock',
       'ADM Capital', 'SoftBank Vision Fund, Hindustan Media Venture',
       'Bank of Baroda', 'YCombinator', 'IAN Fund', 'Vishal Gupta',
       'Mirae Asset, H&M', 'Kotak Securities', 'Balaji Srinivasan',
       'Rebright Partners, Flourish Ventures', 'Sequoia Surge',
       'Titan Capital, Sequoia Capital', 'Parthiv Group',
       'Omkar Pandharkame, Ketaki Ogale', 'Krafton Inc, Omidyar',
       'Blume Ventures, Exfinity Venture Partners',
       'Beyond Next Ventures, M Venture Partners',
       'Faering Capital, Sequoia Capital India, IIFL Alternate Asset Managers',
       'Sixth Sense Ventures, NABVENTURES', 'Temasek, Multiples PE',
       'Griffin Gaming Partners', 'Zinnia Global',
       'InfoEdge Ventures, IAN Fund', 'BEENEXT, Sequoia’s Surge',
       'Bharat Inclusion', 'Fidelity, BlackRock', 'Blacksoil',
       'Speciale Invest', 'W Health Ventures',
       '021 Capital, Y Combinator', 'Anand Prakash Sharma', 'velocity.in',
       'March Capital, Tribe Capital', 'Learn Capital', 'RTP Global',
       'IAN, Yuj Ventures', 'Sequoia’s Surge, Accel Partners',
       'Fidelity, GIC', 'Auxano',
       'Stanford Angels and Entrepreneurs India, Anjali Bansal',
       'Vy Capital, Wellington Management', 'Avon Cycles',
       'Matrix Partners India, 021 Capital', 'HNIs, Angels',
       'NewQuest Capital Partners, Motilal Oswal Private Equity',
       'BlackSoil, CLSA Capital Partners', 'Saama, Whiteboard Capital',
       'Indian Angel Network, Titan Capital, Lead Angels',
       'The Chennai Angels',
       'Venture Highway, Stellaris Venture Partners',
       'Sanjay Baldwa, Ajay Jain', 'InfoEdge',
       'Nitin Passi, Ruchirans Jaipuria',
       'Stride Ventures, InnoVen Capital',
       'Venture Catalysts, Jeevak Gupta',
       'Triodos Investment Management, SAIF Partners', 'N+1 Capital',
       'DST Global, RTP Global', 'Amit Singal, Manish Aggarwal',
       'Trifecta Capital Advisors, Blume Ventures', 'Inflexor Ventures',
       'Kumar Aakash, Amit Singhal', 'growX ventures',
       'Shaival Desai, Alkemi Venture Partners',
       'Aavishkaar Venture Capital, YWC Venture Capital',
       'Alteria Capital', 'Tiga Investments, Baron Capital',
       'Venture Catalysts, 9unicorns', 'Qualgro',
       'Amit Lakhotia, Pravin Jadhav', 'Pravega Ventures',
       'Greenoaks Capital, Elevation Capital',
       'Sequoia Capital India, rocketship.vc', 'BLinC Invest',
       'Chaitanya Kalipatnapu, Kedar Gavane',
       'Roha Investment Managers, angel investor Saumil Shah',
       'TNF Ventures, Razorpay', 'Lok Capital, IIFL Asset Management',
       'Tiger Global Management, DST Global', 'Marquee investors',
       'Endiya Partners', 'Roshan Abbas, Ritesh Malik',
       'Goat Capital, JAM Fund', 'General Catalyst, Jungle Ventures',
       'Blackstone Group, ADQ', 'Paradigm Shift Capital, AngelList India',
       'Anup Kumar Yama', 'iSeed, Titan Capital', 'Sushil Agarwal',
       'IvyCap Ventures, Endiya Partners',
       'GUSEC Seed Fund, DeVX Venture Fund', 'Tiger Global, Sequoia',
       'Quadria Capital', 'Paragon Partners, Aavishkaar Capital',
       'Krafton, Lumikai', 'Indovation Fund, Mumbai Angels',
       'Gunosy, Blume Ventures', 'Edge Ventures, Elevation Capital',
       'Yamaha Motors, Omidyar Network India, Eight Roads Ventures',
       'Norfund, The Rise Fund', 'Siti Cable', 'Aavishkaar Capital',
       'Jyoti Bansal', 'Accor',
       'SRI Capital, Picus Capital, Alkemi Capital',
       'Saama Capital, DSG Consumer Partners', 'Valar Ventures',
       'Addition, SIG Global India Fund',
       '9Unicorns Accelerator Fund, Indian Angel Network',
       'Alfa Ventures', '1Crowd',
       'TCV, D1 Capital Partners, Falcon Edge.',
       'BanyanTree Finance Pvt. Ltd.', 'Quona Capital',
       'Ashv Finance, BlackSoil Capital',
       'WaterBridge Ventures, SAIF Partners',
       'Sweta Rau, 9Unicorns Accelerator Fund',
       'Omnivore, Strive Ventures', 'Rajesh Sud, KULDEEP JAIN',
       'PayU, Google', 'TPG Capital Asia, Epiq Capital',
       'BlackRock, Owl Ventures',
       'Asian Development Bank, Oman India Joint Investment Fund',
       'JSW Ventures, Kalaari Capital',
       'Unitus Ventures, Omidyar Network India',
       'IvyCap Ventures, Pratithi Investment Trust',
       'ACPI Investments, AdvantEdge Founders',
       'RouteOne, Mankekar Family Office', 'India Quotient',
       'TCN International Commerce', 'Alpine Capital, PremjiInvest',
       'Bon Angels Venture Partners, Daesung Private Equity',
       'Spring Marketing Capital, Verlinvest', 'Bain Capital',
       'F-Prime Capital, Eight Roads Ventures India',
       'Mumbai Angels, DNA Entertainment Networks',
       'Hornbill Capital Advisers, Plutus Wealth Management',
       'ADB Ventures, Jetty Ventures', 'Techstars, Ryan Johnson',
       'Bessemer Venture Partners',
       'Titan Capital, iSeed, First Cheque, 3.0 Fund.',
       'Falcon Edge Capital, White Oak Global Advisors',
       'Angel investors', 'Akya Ventures',
       'Kayenne Ventures, Nordic Microfinance Initiative',
       'Elevar Equity, Accel India', 'Titan Capital, Y Combinator',
       'Jitendra Gupta, Better Capital',
       'Radiant Life Care Private Ltd, Life Healthcare',
       'Mount Judi Ventures, growX Ventures, Season Two Ventures',
       'Richard Rekhy', 'GAWA Capital, Gaja Capital',
       'Better Capital, Bharat Inclusion Seed Fund', 'Krafton',
       'Eight Roads Ventures India, Nexus Venture Partners',
       'CDC Group, Partners Group',
       'Matrix Partners India, Ankur Capital',
       'U.S. International Development Finance Corp, Asian Development Bank',

In [ ]:
full_df['Founders'].unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta',
       'Aniket Deb, Ankit Tomar, Sachin Agrawal', 'Kapil Banwari',
       'Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan', 'Gururaj KB',
       'Nidhi Ramachandran, Sachin Chhabra', 'Dr Arbinder Singal',
       'Konark Sharma, Sneh Soni',
       'Dr Mohender Narula, Dr AnandKrishna, Dr Girish Rao',
       'Radhika Choudary, Saurabh Marda',
       'Sankar Bora, Sourjyendu Medda, Vineet Rao',
       'P Raja Manickam, Srinivas Chinamilli, Veerappan V',
       'Arjun P Gupta, Ujjal Majumdar, Sidhartha Gupta',
       'Swapnil Jain, Sujit Das Biswas', 'Chandraprakash Joshi',
       'Ashish Singhal, Govind Soni, Vimal Sagar Tiwari',
       'Harshil Mathur, Shashank Kumar', 'Madhav Kasturia',
       'Anil Yekkala, Dharin Shah, Kuldeep Saxena, Purvi Shah, Sandeep Shah',
       'Kshama Fernandes',
       'Bhaktha Keshavachar, Ravi Prasad Sharma, Mahalingam Koushik',
       'Deep Bajaj, Mohit Bajaj', 'Harsimarbir (Harsh) Singh',
       'Hitesh Dhingra, Rahul Kumar, Sachin Bhatia',
       'Raman Garg, Tarun Saini', 'Ravi Vyas',
       'Chintan Raikar, Prashant Iyengar, Sneh Vaswani', 'Neeraj Menta',
       'Anish Basu Roy, Sagar Bhalotia', 'Aditya Singh',
       'Sundeep Mohindru', 'Rohin Parkar', 'Narayan Lal Gurjar',
       'Aman Gupta, Sameer Mehta',
       'Ram Sellaratnam, Sunil Menon and Subash Vasudevan',
       'Manish Piyush, Ayush Kumar', 'Niral Modi, Aditi Modi',
       'Aniket Bajpai, Nikhil Gupta', 'Dhawal Jain', 'VIKASH MISHRA',
       'Karan Virwani', 'Vikram Iyer', 'Bhagwan (Pradeep) Khandekar',
       'Kunal Aggarwal', 'Ankit Agarwal', 'Akash Deep, Mohit Sharma',
       'Himanshu Puri, Karan Kalia, Rohit Shukla',
       'Nandan Reddy, Rahul Jaimini, Sriharsha Majety',
       'Dinesh Advani, Vivek Goyal',
       'Mihir Mohan Mishra, Nirant Ramakuru, Ruchi Deepak',
       'Harshvardhan Lunia, Mukul Sachan', 'Kunal Shah', 'Neeraj Tyagi',
       'Dharmil Sheth, Dhaval Shah, Mikhil Innani', 'Hitesh Doshi',
       'Pallav Jain, Abhishek Nimonkar, Yagnesh Desai', 'Amit Purohit',
       'Harsh Jain, Ishan Bansal, Lalit Keshre, Neeraj Singh',
       'Ratan Tata, Nandan Nilekani',
       'Asish Mohapatra, Bhuvan Gupta, Chandranshu Sinha, Nitin Jain, Ruchi Kalra, Ruchi Kalra, Srinath Ramakkrushnan, Vasant Sridhar',
       'Gaurav Tripathi, Sagar Ramteke, Vijay Goel, Vivek Kumar',
       'Ankush Sachdeva, Bhanu Pratap Singh, Farid Ahsan',
       'Anuranjita Kumar', 'Mohit Gupta, Niraj Singh, Ramanshu Mahaur',
       'Vinod Murali', 'Ravi Gupta', 'Tarun Lawadia, Sameer Kalra',
       'Vishesh Rajaram, Arjun Rao', 'Saikat Roy, Shayak Mazumder',
       'Sanjeev Barnwal, Vidit Aatrey',
       'PN Santosh, Prasanna Alagesan, Krithika Srinivasan',
       'Saurabh Saxena', 'Arjun Paul, Aromal Sivadasan', 'Rahul Veerwal',
       'Rohit Prasad', 'Sumit Ghosh', 'Apoorva Mishra',
       'Aravind Murthy, Praveen Das, Srikrishna Swaminathan',
       'Kunal Joshi, Pranav Marwah', 'Abhaas Shah, Prateek Shah',
       'Harsh Saruparia, Sumit Chhazed',
       'Madan Padaki, Anil Kumar, M Chakrawarty',
       'Mayank Tewari, Tushar Srivastava', 'Ankit Nagori', 'Jaisimha Rao',
       'Prabhkiran Singh', 'Tarun Jiwarajka, Pankhuri Jiwarajka',
       'YC W21', 'Eobin Alex', 'Anshul Bhagi',
       'Swathi Kulkarni, Sindhuri Ananth, Shubham Sharma',
       'G Srinivvasan', 'Sourabh Deorah, Smiti Bhatt Deorah',
       'Roby John, Sanket Nadhani, Navneet Waraich', 'Ankur Gupta',
       'Nitesh Prakash', 'Srinath Ramakkrushnan, Amrit Acharya',
       'Prashant Sachan', 'Ravish Naresh, Ashish Sonone',
       'Swagat Sarangi, Siddhartha Nangia.',
       'Saurabh Sharma, Aman Agarwal, Arjun Nagarajan',
       'Varun Sheth, Ashni Sheth', 'Shoaib Mohammad',
       'Rohan Verma, Aditya Kaicker', 'Ajith Mohan Karimpana',
       'Dheeman Kadam, Sayantan Chakraborti',
       'Anand Singh, Ankit Vaish, Sunny Kumar Jadoon', 'Anil Kejriwal',
       'Yogesh Dhingra',
       'Anugrah Shrivastava, Vasanth Kamath, Rohan Gupta', 'Vivek Tiwari',
       'Abhinav Asthana, Abhijit Kane, Ankit Sobti',
       'Syed Fazle Rahman, Sandeep Panda', 'Arun Sreyas Reddy',
       'Ashneer Grover, Shashvat Nakrani',
       'Prasanna Vaidya, Shubham Deshmukh', 'Taranjeet Singh Bhamra',
       'Ashwin Koorakula', 'Saurabh Nagpal', 'Ritesh Agarwal',
       'Aravind Sanka, Pavan Guntupalli, SR Rishikesh',
       'Dr Navneet Gupta', 'Kabir Siddiq', 'Mohit Kumar, Vatsal Singhal',
       'Gautam Kshatriya', 'Anshul Gupta, Arpit Mittal', 'Anuj Jain',
       'Ankit Acharya, Kevin William David', 'Jatin Solank, Vivek Gupta',
       'Bharat Sethi', 'Anurakt Jain, Ishita Verma',
       'Nupur Khandelwal, Kunal Kishore Dhawan, Gaurav Gupta',
       'Abhishek Halder, Anilesh Yadav, Kumar Sangeetesh',
       'Dilsher Singh, Siddhant Saurabh', 'Rishabh Jain, Aditi Sinha',
       'Umang Bedi',
       'Sneh R Vaswani, Prashant V Iyengar, Chintan S Raikar',
       'Natasha Jain, Sonia Agarwal Bajaj', 'Shwetank Jain',
       'Akshay Singhal, Kartik Hajela',
       'Phalgun Kompalli, Ronnie Screwvala, Mayank Kumar',
       'Dhiresh Nagwani, Ashwini Dhekane', 'Aniruddha Sen, Dhiraj Goel',
       'Ramkumar Govindarajan, Ramkumar Ramachandran',
       'Rishabh Goel, Mayank Khera, Anand Agrawal',
       'Harish Uthayakumar, Shreyans Sancheti',
       'Anshuman Pandey, Rohan Pooniwala',
       'Rhitiman Majumdar, Gaurav Mangla, Ankit Kaushik',
       'Ritesh Banglani, Alok Goyal, Rahul Chowdhri',
       'Nikhil Aggarwal, Vivek Gulati', 'Rashi Sanon',
       'Matt Chitharanjan, Shivam Shahi, Namrata Asthana',
       'Taran Chhabra', 'Mohammed Roshan, Roshni Aslam', 'Ajay Lakhotia',
       'Yogesh Agarwal, Kulin Shah',
       'Pulkit Sharma, Aankit Roy, Sandeep Singh', 'Swarup Bose',
       'Vibhu Bahuguna, Mohit Jain', 'Balachander Sekhar',
       'Taranbir Singh, Alok Duggal',
       'Rishabh Verma, Ashutosh Kumar, Divyanshu Pundir',
       'Jitendra Gupta', 'Akshata Kari, Prathvi Palekar',
       'Daanish Suhail',
       'Dr Arpi Mehta, Dr Pravin Shetty, Dr Manjul Jain, Dr Anirudh Kale',
       'Sahil Dharia', 'Srinivasan Narayan', 'Shruti, Manish Kumar',
       'Vaibhav Gupta, Arpit Gupta, Aman Gupta',
       'Pawan Gupta, Abhishek Sharma', 'Anshul Goenka',
       'Shanmukha Boora, Sabyasachi Bhattacharjee',
       'Souvik Sengupta, Aaditya Sharda', 'Ruchir Arora',
       'Anshul Gupta, Amit Raj', 'Nitya, Chaitra Chidanand',
       'Vikram Chachra', 'Prachi Dharani, Rohit Sukhija, Yogesh Lokhande',
       'Mukesh Bansal, Ankit', 'Rohan, Nishanth Srinivas, Prateek Dixit',
       'Kartikey Hariyani', 'Maneesh Dhooper, Kunal Malik',
       'Bhavin Patel, Dipesh Karki', 'Anuj, Anant Garg',
       'Shardul, Sitanshu Sheth',
       'Sachin Agrawal, Aniket Deb, Ankit Tomar', 'Rakesh goyal',
       'Raviteja Dodda, Yashwanth Kumar', 'Rahul Sasi',
       'Arun Vinayak, Sanjay Byalal', 'Manvendra Singh, Gaurav Agarwal',
       'Jasveer Singh, Abhishek Asthana, Deepak Kumar',
       'Subramaniam Narayan, Niraj Rajmohan', 'Vikram Vuppala',
       'Shiju Radhakrishnan', 'Mohit Menghani, Shubham Maheshwari',
       'Gaurav Dagaonkar, Meghna Mittal',
       'Ravi Bulusu, Nanda Kishore, Venkat Moganty', 'Swapnil Pawar',
       'Deepak Bhuvenshwari Uniyal', 'Utsav Agarwal, Pulkit Chhabra',
       'Vidur Kataria, Sidhanth Madan', 'Varun Khanna',
       'Vikash Mishra, Mragank Jain',
       'Harsimarbir (Harsh) Singh, Dr Vaibhav Kapoor, Dr Garima Sawhney',
       'Rishubh Satiya, Akash Zaveri',
       'Nitin Gupta, Prateek Jindal, Laxmikant Vyas',
       'Subbarao Siddabattula, Charu Noheria, Ilangovel Thulasimani',
       'Aditi Murarka Agrawal, Anurag Agrawal', 'Mohit Goel',
       'Vimal Kumar, Ramanathan RV',
       'Ritesh Kumar, Sharad Sen Sharma, Rohan Sen Sharma',
       'Manoj, Sibabrata Das', 'Bhavish Aggarwal',
       'Ankush Sachdeva, Bhanu Pratap Singh', 'Smriti Tomar, Tushar Vyas',
       'Jayant Panwar, Kenish Shah',
       'Shaurya Joshi, Shashank Patidar, Praneet Agarwal', 'Vikas Singh',
       'Rohit Jaiswal', None,
       'Nishant Kumar, Shishir Gokhale, Deepak Garg',
       'Ruchi Kalra, Asish Mohapatra',
       'Bhanu Pratap Singh Tanwar, Hardik Bansal, Harshvardhan Chhangani',
       'Kanav Singla, Prashant Sinha, Shorya Mahajan',
       'Vijay Yalamanchili', 'Apeksha Jain', 'Manesh Jain, Mohan Kumar',
       'Vikas Sharma', 'Ajay Kumar, Balaji Varadharajan',
       'Aadit Palicha, Kaivalya Vohra', 'Deep Bajaj',
       'S Karthik Venkateswaran, Ashish Jhina', 'Utham Gowda',
       'Ananya Meena', 'Rohan Sinha, Shashwat Aditya',
       'Tushar Khurana, Jatan Bawa',
       'Pramod Ghadge, Shahid Memon, Rohit Pitale',
       'Sachin Chopra, Vishal Chopra',
       'Roshan Farhan, Kulapradip Bharali',
       'Abhishek Nehru, Santosh Dabke', 'Rajendra Setia',
       'Abhishek Negi, Uttam Kumar, Aditya Singh, Pankaj Pandey',
       'Vijay Sharma, Anupam Arya, Sandeep Sharma',
       'Gautam Udani, Raja Debnath', 'Anjali Patel Mehta',
       'Ajay Changani, Hardev Sahu', 'Utsav Umang, Rohit Raj, Vikas Goel',
       'Ravi Kabra', 'Shivam Kaushik', 'Nitin Agarwal, Supam Maheshwari',
       'Ghazal, Varun Alagh', 'Kapil Mehta, Abhishek Bondia',
       'Rahul Jain', 'Gengarajan PV',
       'Rupesh Kumar, Anurag Sinha, Vibhav Hathi',
       'Aditya Shankar, Tanushree Nagori',
       'Aaditya Sharda, Souvik Sengupta', 'Satish Kalme, Kubasad Gururaj',
       'Bharath Bevinahally, Sneha Sundaram',
       'Amit Kapoor, Rohit Dhar, Sarveshwar Shrivastava, Ved Prakash Khatri',
       'Madhusudan Ekambaram', 'Malini Nair, Preeti Chib, Swarup Nanda',
       'Ash Narain', 'Jagadish Gattu, Vamsi Yalamanchili', 'Amit Bansal',
       'Raghunandan G', 'Satish Kannan',
       'Deepak Choudhary, Karanvir Singh Shekhawat, Utkarsh Bagri, Vikram Shekhawat',
       'Apoorv Jain, Kartik Gupta', 'Mohan Kumar',
       'Mukesh Bansal, Prasanth Reddy, Sumit Sinha',
       'Rahul Jacob, Vaibhav Bhandari', 'Advait Kumar, Vibha Tripathi',
       'Imbesat Ahmad, Shadman Anwer', 'Aditya Jhaveri',
       'Arindam Sengupta, Eela Dubey', 'Ambareesh Murty, Ashish Shah',
       'Rohit Anand, Sachin Goel', 'Virendra Gupta',
       'Mayank Pratap Singh, Aditi Chaurasia',
       'Devesh Rao, Manjeet Khopkar, Rahul Hattangdi',
       'Nishant Chandra, Siddharth Maheshwari', 'Nishanth Chandran',
       'Sousthav Chakrabarty, Anil Bhat', 'Utpal Isser, Sameer Mishra',
       'Akshay Pruthi, Anurag Dalia, Himanshu Periwal, Vipul Agrawal',
       'Ashish Chandra, Shaily Garg',
       'Atul Sashittal, Raheel Shah, Varun Chopra', 'Hardev Sahu',
       'Pallavi Shrivastava, Himanshu Chandra',
       'Ankur Gupta, Akshita Gupta', 'Nitish Mittersain',
       'Mahesh Bhupathi, Jinesh Mehta',
       'Arpit Jain, Joy Deep Nath, Mayank Jain, Umang Jain', 'John Paul',
       'Akhilesh Sagar, Harsh Vardhan Sharma', 'atish Kannan, Enbasekar',
       'Amrit Acharya, Rahul Sharma, Srinath Ramakkrushnan, Vishal Chaudhary',
       'Ranjit Bhatia', 'Dr Sheetal Mundhada, Ashutosh Mundhada',
       'Kajal Ilmi', 'Rohit Shah',
       'Sai Srinivas Kiran G, Shubham Malhotra',
       'Mayank Bidawatka, Aprameya Radhakrishna', 'Amit Malik',
       'Sunoor Kaul, Mayank Dhanuka',
       'Abhishek Jha, Richard Kibbey, Swetabh Pathak',
       'Amit Kumar, Anurag Savarnya, Shivansh Shrivastava, Vivek Jaiswal',
       'Anurag Gupta, Gyanesh Sharma, Shailaz Nag',
       'Prashant Janadari, Naveen Ramchandra',
       'Suraj Juneja, Vijay Rachh, and Aaquib Hussain',
       'Ankur Gupta, Akshita Gupta, Yashwardhan Aeren',
       'Shivam Sood, Lark Aakarshan', 'Shankar Nath',
       'Rajesh Reddy, Sandesh Paturi',
       'Amit Damani, Ankita Sheth, Pranav Maheshwari', 'Pranav Vempati',
       'Pratham Khandelwal, Yogesh Sharma',
       'Ajinkya Kulkarni, Abhik Patel',
       'Deepu Panicker, Raunak Munot, Rohit Jaiswal, Shantanu Deshpande',
       'Ankur Aggarwal, Dalvir Suri, Kabeer Biswas, Mukund Jha',
       'Payal Gaba', 'Prateek Bhargava', 'Abhishek Sharma, Pawan Gupta',
       'Aditya Sharma, Pooja Dubey', 'Ajith Karimpana',
       'Himanshu Pokharna, Nitin Goel', 'Imran Ladiwala, Mishu Ahluwalia',
       'Ajit Narayanan, Ashutosh Lawania, Prasad Kompalli',
       'Saumya Yadav, Mahak Garg, Karan Varshney', 'Rajat Verma',
       'Chaitanya Peddi, Jayant Paleti, Rohit Chennamaneni',
       'Shashank Kumar, Manish Kumar', 'Anil Kumar',
       'Ahmed Al-Balaghi, Aniket Jindal, Sachin Tomar',
       'Puru Gupta, Sreejith Moolayil', 'Sousthav Chakrabarty',
       'Anand Virmani', 'Gaurav Perti, Yatish Gupta', 'Sonam Motwani',
       'Vikas Agarwal',
       'Shahriar Hasan, Md Razibul Islam, Rahath Ahmed, Shamsuddin Ahmed',
       'Vimal Singh SV', 'Mohit Dubey, Nikhil Aggarwal',
       'Amod Malviya, Sujeet Kumar, Vaibhav Gupta',
       'Gaurav Munjal, Hemesh Singh, Roman Saini, Sachin Gupta',
       'Kishor Kumar Jha, Praveen Kumar',
       'Varul Mayank, Vibhore Mayank, Vibhore Mayank',
       'Ashish Jhina, Karthik Venkateswaran',
       'Anil Sharma, Jose Thattil, Rajesh Londhe, Tushar Shankar',
       'Dilsher Singh Malhi, Siddhant Saurabh',
       'Prabal Khanna, Tim Mathews', 'Shrijay Sheth, Gaurav Barot',
       'Subbarao Siddabattula', 'Dr Srikanth Sola', 'Jaijit Bhattacharya',
       'Anirudh Pandita, Aditi Shrivastava, Ashwin Suresh',
       'Bhavik Rathod, Tripti Ahuja',
       'Dr Jaideep Malhotra, Rajesh Jagasia, Ravi Teja Akondi, Mayur Dhurpate',
       'Krishna Kumar', 'Prateek Ruhail', 'Ankur Bansal',
       'Priya Goel Sheth, Harsh Jain', 'Kartik Sharma, Ashish Aggarwal',
       'Kiran Mazumdar-Shaw', 'Kaivalya Vohra, Aadit Palicha',
       'Saurabh Kochhar', 'Sneha Priya, Pranavan S', 'Lalit, Sarita Das',
       'Vidur Maheswari', 'Mohit, Rahul Yadav',
       'Aniket Jindal, Sachin Tomar',
       'Vivek Sharma, Abhishek Goyal, Inderjeet Rao', 'Rajan Bajaj',
       'Vingish Vijay', 'Pradeep Dodle, Nikhil Goenka',
       'Sudarshan Lodha, Priyanka Rathore', 'Pallavi Srivastava',
       'Sneha Roy, Ankur Edkie, Divyanshu Pandey', 'Rajan navani',
       'Mohammad Patel, Rahil Virani', 'Shilpa Rathi',
       'Darpan Sanghvi, Priyanka Gill', 'Divyesh Patel, Aditya Patadia',
       'Saurabh Pandey, Akshay Dubey', 'Chandrahas Panigrahi',
       'Mratunjay, Prashant Kumar, Ravi Kumar Verma',
       'Soniya Kundnani, Darshan Shah',
       'VishwajitPureti, Ashish Singh, Pallavi Tipparaju, Viraj Gadde',
       'Prashant Gupta, Sridhar Sundaram', 'Rajnish Kumar, Aloke Bajpai',
       'Shashank Mehta',
       'Anurag Mundhada, Jayesh Hannurkar, Sourabh Agrawal',
       'Sandeep Aggarwal', 'Yogesh Patil',
       'Shyam Kalita, Debanshu Sinha, Prayas Mittal',
       'Varun Alagh, Ghazal Alagh', 'Rishi Vasudev, Rameswar Misra',
       'Smriti Dubey, Shikhar Vaidya', 'Sanket Nerkar, Paresh Kotkar',
       'Rakhi Wadhwa, Kinner N Sacchdev', 'Mudit Dandwate, Dandwate',
       'B Ramasubramanian, Chanakya Hridaya, Rajesh Yabaji',
       'Aquibur Rahman, Apurv Gupta, Devyesh Tandon', 'Ram N Kumar',
       'Mayank Banerjee, Matilde Giglio, Alessandro Davide Ialongo',
       'Varun Khurana', 'Peyush Bansal', 'Vikalp Sahni',
       'Madhula Sathyamoorthy, Naliene Ramasamy, Kalaiarsi Periasamy',
       'Ravi Nishant', 'Avinash Kumar', 'Nitin Agarwal',
       'Niraj Singh, Mohit Gupta, Ramanshu Mahaur',
       'Dr Raghavan Varadarajan, Dr Gautham Nadig', 'Ashutosh Seth',
       'Mehak Malik',
       'Praneeth Kumar, Shobhit Jain, Mrudhukar Batchu, Kiran Naik',
       'Mridu Mahendra Das, Chinmay Baruah',
       'Tushar Vashisht, Sachin Shenoy', 'Amit Kumar', 'Aakash Anand',
       'Jayant Upadhyay, Amit Chandel, Rohit Garg', 'Gagan Vermani',
       'Sailaja Nori, Nelson Vadassery, Sowmya Balendiran, Shrikumar Suryanarayan',
       'Aditya Ruia, Akshay Varma, Anuj Ruia', 'Manish Shara, Yash Desai',
       'Arun Bhatia, Ravi Chandra', 'Azhar Iqubal',
       'Anirudh N Sharma, Rahul Rawat, Tanveer Ahmed',
       'Prasanna Manogaran, Bharani CL', 'Tanuj Shori',
       'Abhishek Bhayana', 'Abhishek Patil, V Satish Kumar',
       'Holistic Development Programs for children in age range 5-15',
       'Pulkit Agarwal, Prashant Sachan, Arun Lodhi, Bimal Kartheek Rebba',
       'Vineet Patawari, Vivek Bajaj, Vinay Pagaria',
       'Manoj Gupta, Gunjali Kothari', 'Pankhuri Shrivastava',
       'Mayur Relekar, Aravindh Kumar, Abhishek Chaudhary',
       'Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!', 'Rajamanohar',
       'Shailesh Daxini, Akash Senapaty, Muthukaleeshwaran Subbiah',
       'Aditya B', 'Ashwin Srivastava, Hardik Somani, Prashant Nikam',
       'Backed by 100x.VC', 'Ranjeet Pratap Singh',
       'Saurabh Chandra, Saad Nasser',
       'Dharmin Vora, Dhruvesh Mehta, Parth Vora', 'Arjun Balaji',
       'Akhil Aryan', 'Kamesh Goyal', 'Atul Kumar, Aashish Krishnatre',
       'Abhay Hanjura, Vivek Gupta', 'Paavan Nanda',
       'Mughilan Thiru Ramasamy', 'Amit Sharma, Amit Koshal, Rishi Batra',
       'Dheeraj Khatter, Himanshu Kumar, Kshitiz Saini', 'Amrish Rau',
       'S Ganeshprasad', 'Lakshmana Pasala, Ram Pasala', 'Gautam Chopra',
       'Harini Sivakumar', 'Niki Khokale, Rajas Lonkar',
       'Deepak Poduval, Hariprasad Shetty', 'Dhaval Mody',
       'Ravi Khushwani', 'Saahil Goel, Akshay Ghulati',
       'Rajat Shikhar, Vineet Rao, Sourjyendu Medda',
       'Mihir Gupta, Payoj Jain, Divyansh Bordia, Anshuman Kumar',
       'Vikas Chandrawat, Karan Shaha',
       'Pallavi Agarwal, Pankaj Parwanda', 'Shubham Goyal, Lesh Dixit',
       'Bhavesh Manglani, Kapil Bharati, Mohit Tandon, Sahil Barua, Suraj Saharan',
       'Rajeev Gaba, Tarun Bhalla', 'Atul Pratap Singh',
       'Aditya Kaicker, Rohan Verma', 'Samarth Sindhi', 'Arjit Soni',
       'Geet Garg, Nishith Rastogi', 'Vikas Bansal',
       'Ashish Gupta, Ankit Hetamsaria',
       'Karthikeyan Krishnaswamy, Madhusudan Ekambaram, Wan Hong',
       'Saurabh Srivastav, Amrita Srivastav',
       'Manish Ahuja, Naveen Rawat, Rahul Dogar',
       'Bani Singh, Drishti Gupta', 'Sudhanshu Rai, Sumit Sheoran',
       'Abinesh Ekambaram', 'Abhinav Agarwal, Anand Bakode',
       'Deepak Bhagchandani', 'Akshat Nayyar, Kunal Wani',
       'Sandeep Aggarwal, Vipin Aggarwal', 'Satish Kannan, Enbasekar',
       'Lalit Aggarwal, Raghav Arora',
       'Gaurav Hinduja, Sashank Rishyasringa', 'Pramod Sharma',
       'Nisschal Jain,  Sugam Jain, Parinay Itkan',
       'Chitresh Sharma, Apoorv Kumar',
       'R. Sethunath, V S Shridhar, V. Radhika, Viraraghavan Sankaran',
       'Ashish Khare, SK Mohanty', 'Akshay Chaturvedi',
       'Amar More, Vipul Jain',
       'Prateek Gupta, Raman Shrivastava, Sumant US',
       'Nakul Kukar, Paras Kaushal',
       'Dheeraj Jain, Srijana Bagaria, Vikas Bagaria',
       'Mohit Goel, Rajat Kumar, Sachin Arora, Vipul Sharma',
       'Guru Venkatesan, Jinaraj PG, Makesh Kumar',
       'Udit Dhawan, Rohit Fernandes, Ravi Teja',
       'Byju Raveendran, Divya Gokulnath', 'Divij Bajaj', 'Tarun Dhamija',
       'Ankit Gera', 'Yezdi Lashkari', 'Kush Taneja, Sambhav Jain',
       'Nirmit Parikh', 'Yogesh Kabra', 'Nakul Aggarwal, Ritesh Arora',
       'Rahul Kumar', 'Mayank Banka, Purnank Prakash, Skandha Gopalan',
       'Disha Katharani, Ravi Kumar',
       'Amit Kumar, Vishal Kumar, Dilip Kumar, Khushboo Arora, Kumar Sambhav',
       'Balachander Sekhar, Sandeep Nanda',
       'Mohit Sharma, Naveen Dewangan, Vipul Allawadhi', 'Shobhit Gupta',
       'Kanika Agarrwal, Nikhil Hooda, Atanuu Agarrwal', 'Dhvanil Sheth',
       'Vikul Goyal', 'Saurav Gandhi, Sandeep Arora',
       'Angad Kikla, Naisheel Verdhan', 'Anand Lunia, Madhukar Sinha',
       'Ganesh ranganathan iyer', 'Abhishek Sharma, Dipti Tandon',
       'Jamesh Johnson, Sainath Malkapuram Goud',
       'Akshay Shekhar, Vaibhav Tyagi', 'Rahul Mathur', 'Pedagogy',
       'Meenakshi Singh, Dr Cherian, Kuldeep Singh Chauhan',
       'Keyur Bhalavat', 'Kushal Karwa', 'Nikhilesh Mishra, Puneet Jain',

In [ ]:
full_df['What_it_does'].unique()

array(['Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.',
       'UpGrad is an online higher education platform.',
       'LEAD School offers technology based school transformation system that assures excellent learning for every child.',
       ..., 'International education loans for high potential students.',
       'Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.',
       'India’s first socially distributed full stack financial services platform for small town India'],
      dtype=object)

After inspecting the investor, founders, and what_it_does columns it is observed that they will not be relevant to our analysis so we drop them.

In [ ]:
full_df.drop(['Investor', 'Founders', 'What_it_does'], axis=1, inplace=True)

In [ ]:
full_df.shape

(1048, 8)

### Check the Sector column for inconsistencies

In [ ]:
full_df['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'E-commerce', 'B2B service',
       'Helathcare', 'Renewable Energy', 'Electronics', 'IT startup',
       'Food & Beverages', 'Aeorspace', 'Deep Tech', 'Dating', 'Gaming',
       'Robotics', 'Retail', 'Food', 'Oil and Energy', 'Tech Startup',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthcare', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Financial Services', 'Industrial Automation',
       'Health', 'Lifestyle', 'IoT', 'Banking', 'Computer software',
       'Tech startup', 'Digital mortgage',
       'Information Technology & Services', 'Furniture',
       'B2B marketplace', 'Healtcare', 'Location Analytics', 'Media',
       'Consumer Electronics', 'Tobacco', 'Deeptech', 'Insuretech',
       'MLOps platform', 'Venture Capital', 'Pet care', 'Drone',
       'Wholesale', 'Construction', 'E-learning', 'Consumer Services',
       'Venture Capital & Private Equity', 'Health, Wellness & Fitness',
       'OTT', 'Education Management', 'Computer Software', 'Insurance',
       'Software Startup', 'Computer & Network Security',
       'Capital Markets', 'Social network', 'Hospital & Health Care',
       'Music', 'Pharmaceuticals\t#REF!', None, 'Cosmetics', 'Mobility',
       'Social media', 'Real Estate', 'Digital platform', 'B2B Ecommerce',
       'Online Media', 'Social commerce', 'Mobile Games',
       'Food Production', 'HeathTech', 'Content publishing',
       'Water purification', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'BioTechnology', 'B2B Marketplace', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'Health care', 'EV startup',
       'HR Tech', 'Blockchain startup', 'Food and Beverages', 'Beverages',
       'Manufacturing startup', 'Cryptocurrency',
       'Vehicle repair startup', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Consulting', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Eyewear', 'D2C Business',
       'Biotechnology', 'Human Resources', 'Farming', 'Internet',
       'SpaceTech', 'Consumer software', 'Social community', 'Fishery',
       'Online storytelling', 'Aviation', 'Job discovery platform',
       'HealthCare', 'Heathcare', 'CRM', 'Software', 'Nutrition',
       'Innovation management', 'Community platform',
       'Venture capitalist', 'Networking', 'AR startup', 'MarTech',
       'Advertisement', 'D2C Fashion', 'Bike Rental', 'Beauty products',
       'Tourism', 'Rental space', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'Sports startup', 'AI company',
       'Matrimony', 'Clothing', 'Analytics', 'Finance', 'IoT platform',
       'Commerce', 'Renewables & Environment', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Crypto', 'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Healthtech', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup', 'Design', 'B2B Travel',
       'Interior Design', 'Product studio', 'Aviation & Aerospace',
       'Staffing & Recruiting'], dtype=object)

Clean up the Sector Column
- Some of the values in the column has values separated with commas which convey the same information so we split the rows and select the name in the first position.

In [ ]:
full_df['Sector'] = full_df['Sector'].str.split(',').str.get(0).astype(str)
full_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,Amount($),Stage,Funding_Year,New_Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,1200000,Pre-series A,2021,Pre-Series
1,upGrad,2015.0,Mumbai,EdTech,120000000,Unstated,2021,Unstated
2,Lead School,2012.0,Mumbai,EdTech,30000000,Series D,2021,Later Stage
3,Bizongo,2015.0,Mumbai,B2B E-commerce,51000000,Series C,2021,Series C
4,FypMoney,2021.0,Gurugram,FinTech,2000000,Seed,2021,Seed

In [ ]:
sector_regex_mapping = {
    "Information Technology": r"AI|EdTech|IT|Deep|Chatbot|Tech|SaaS|Fantasy|Robotics|Telecomunication|Software|MLOps|Location|Consumer|Blockchain|Computer (?:startup|company|platform)",
    "Health Care": r"(?:Heal(?:th|care|tech)|Pharma(?:ceuticals|cy)|Nutrition|Veterinary|FemTech|InsureTech)",
    "Financials": r"(?:Fin(?:Tech|ancial)|Venture|Insurance|Cryptocurrency|Equity|Investment|Capital|Banking) (?:Services|Management|Markets)",
    "Consumer Discretionary": r"(?:E(?:-commerce|nt)|Gaming|Retail|Food|Fashion|Cosmetics|Beverages|Beauty|Footwear|Clothing|Celebrity|Matrimony|Tourism|Entertainment) (?:Media|Engagement)",
    "Industrials": r"(?:Aero(?:space)|Renewable|Electronics|Automation|Mechanical|Pollution|Manufacturing|Clean(?:Tech)|Renewable|Maritime|Transportation|Construction|Automobile|Environmental) (?:Services|Engineering|Equipment|Startup)",
    "Communication Services": r"(?:Med(?:ia)|Social|Online|Mobile|Content|Audio|Storytelling|Community|Advertisement) (?:Games|Commerce|Publishing)",
    "Energy": r"Oil(?: and Energy)|Renewable|EV|Solar (?:Energy|Power)",
    "Materials": r"(?:Pollution|Textiles|Environmental) (?:Services|Equipment)",
    "Real Estate": r"(?:Real|Housing|Furniture|Interior|Construction) (?:Estate|Marketplace|Rental|Design)",
    "Utilities": r"water(?: purification)?",
}

def sector_cleaner(data, column='column_name'):
    corrected_sector = []
    for row in data[column]:
        for sector, regex in sector_regex_mapping.items():
            if re.search(regex, row):
                corrected_sector.append(sector)
                break
        else:
            corrected_sector.append('Consumer Staples')

    return corrected_sector

full_df['new_column'] = sector_cleaner(full_df, 'Sector')
full_df.tail(20)

,Company_Brand,Founded,HeadQuarter,Sector,Amount($),Stage,Funding_Year,New_Stage,new_column
1188,Elixia Tech Solutions,2011.0,Mumbai,Information Technology & Services,1000000,Pre-series A,2021,Pre-Series,Information Technology
1189,bitsCrunch,2020.0,Chennai,Blockchain,700000,Seed,2021,Seed,Information Technology
1190,Prolgae,2016.0,Nilgiris,Biotechnology,200000,Seed,2021,Seed,Consumer Staples
1191,Biddano,2016.0,Pune,Health,2000000,Pre-series A1,2021,Pre-Series,Health Care
1192,Geniemode,2021.0,Gurugram,B2B,2000000,Unstated,2021,Unstated,Consumer Staples
1194,Neokred,2019.0,Bangalore,FinTech,500000,Seed,2021,Seed,Information Technology
1195,Delhivery,2011.0,Gurugram,Logistics & Supply Chain,76000000,Series I,2021,Other terms,Consumer Staples
1196,Flipspaces,2011.0,Mumbai,Design,2000000,Pre-series B,2021,Pre-Series,Consumer Staples
1197,Fleek,2021.0,Bangalore,Internet,1000000,Seed,2021,Seed,Consumer Staples
1198,GoKwik,2020.0,New Delhi,Information Technology & Services,5000000,Pre-series A,2021,Pre-Series,Information Technology
1199,Proeon,2018.0,Pune,Food Production,2000000,Seed,2021,Seed,Consumer Staples
1200,InfyU Labs,2019.0,Gandhinagar,AgriTech,200000,Seed,2021,Seed,Information Technology
1201,TechEagle,2015.0,Gurugram,Aviation & Aerospace,500000,Seed,2021,Seed,Consumer Staples
1202,Voxelgrids,2017.0,Bangalore,Deeptech,5000000,Unstated,2021,Unstated,Information Technology
1203,Cogos Technologies,2016.0,Bangalore,Logistics & Supply Chain,2000000,Pre-series A,2021,Pre-Series,Consumer Staples
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,3000000,Pre-series A,2021,Pre-Series,Consumer Staples
1205,Vahdam,2015.0,New Delhi,Food & Beverages,20000000,Series D,2021,Later Stage,Consumer Staples
1206,Leap Finance,2019.0,Bangalore,Financial Services,55000000,Series C,2021,Series C,Financials
1207,CollegeDekho,2015.0,Gurugram,EdTech,26000000,Series B,2021,Series B,Information Technology
1208,WeRize,2019.0,Bangalore,Financial Services,8000000,Series A,2021,Series A,Financials

Group the sector column into the 11 major industry sectors based on GSIC standards.

SyntaxError: invalid syntax (1933637684.py, line 1)

#### `2020 Dataset`

Change the label of the amount column to Amount($)

In [ ]:
df_2020.rename(columns={'Amount': 'Amount($)'},inplace=True)

In [ ]:
df_2020.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020

Correct duplicates in the dataset

In [ ]:
f"There are {df_2020.duplicated().sum()} duplicate rows in the dataset which must be dropped."

'There are 3 duplicate rows in the dataset which must be dropped.'

In [ ]:
df_2020.drop_duplicates(keep='first', inplace=True)

Check unique values in ech column of the dataset

In [ ]:
df_2020['HeadQuarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru'],
      dtype=object)

There are a few unique values in the headquarter column which are not capturing the correct values which must be corrected.

In [ ]:
df_2020['HeadQuarter'] = df_2020['HeadQuarter'].str.split(',').str.get(0)
df_2020['HeadQuarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli', 'Thane', None, 'Singapore',
       'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur', 'Delhi',
       'Frisco', 'California', 'Dhingsara', 'New York', 'Patna',
       'San Francisco', 'San Ramon', 'Paris', 'Plano', 'Sydney',
       'San Francisco Bay Area', 'Bangaldesh', 'London', 'Milano',
       'Palmwoods', 'France', 'Trivandrum', 'Cochin', 'Samastipur',
       'Irvine', 'Tumkur', 'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing',
       'Rajastan', 'Kochi', 'Ludhiana', 'Dehradun', 'San Franciscao',
       'Tangerang', 'Berlin', 'Seattle', 'Riyadh', 'Seoul', 'Bangkok',
       'Kanpur', 'Chandigarh', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Goa', 'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore',
       'Coimbatore', 'Bengaluru'], dtype=object)

In [ ]:
df_2020['Amount($)']

0         200000.0
1         100000.0
2              NaN
3         400000.0
4         340000.0
           ...
1050     1500000.0
1051    13200000.0
1052     8000000.0
1053     8043000.0
1054     9000000.0
Name: Amount($), Length: 1052, dtype: float64

* We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value. In view of this, we have to rename the amount column Amount($). This is the case because most of our values in the Amount columns for all the dataset are in dollars.
* Since the amount column is already a float dtype, we don't have any data cleaning to do for now except to drop the null values since imputing with mean will temper with the quality of our dataset.
* We assume they are undisclosed values and drop them.

In [ ]:
f'A total of {df_2020["Amount($)"].isna().sum()} missing values are in the Amount column which constitutes 24% of the rows hence can be dropped.'

'A total of 253 missing values are in the Amount column which constitutes 24% of the rows hence can be dropped.'

In [ ]:
df_2020['Amount($)'].dropna(axis=0, inplace=True)

Check the headquarters column for inconsistencies

In [ ]:
df_2020['HeadQuarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru'],
      dtype=object)

#### `2019 Dataset`

In [ ]:
df_2019.rename(columns={'Company/Brand': 'Company_Brand',
                        'What it does': 'What_it_does'}, inplace=True)

In [ ]:
df_2019.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019

Correct duplicated in the dataset

In [ ]:
df_2019['Stage'].unique()

:

* The missing values in this column will be replaced with 'Unstated' and cleaning of some values as well.

#### `2018 Dataset`

Change the label of the amount, company name, about company and round/series columns to Amount($), Company_Brand, What_it_does, and Stage.

In [ ]:
df_2018.rename(columns={'Company Name': 'Company_Brand',
                'Amount': 'Amount($)',
                'About Company': 'What_it_does',
                'Round/Series': 'Stage'}, inplace=True)

In [ ]:
df_2018.head(1)

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018

Create new column named HeadQuarter and extract city name from Location

In [ ]:
df_2018['HeadQuarter'] = df_2018['Location'].str.split(',').str[0]

:

In [ ]:
df_2018.head(1)

:

Check for inconsistencies in the Amount($) column and implement the necessary cleaning

In [ ]:
df_2018['Amount($)'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [ ]:
# Replace ',', and '$' with '' and also replace '—' with NA

df_2018['Amount($)'] = df_2018['Amount($)'].apply(lambda x: x.replace(',', ''))
df_2018['Amount($)'] = df_2018['Amount($)'].apply(lambda x: x.replace('$', ''))

# Get the index of all the amount values with '₹'
INR_rows = df_2018.index[df_2018['Amount($)'].str.contains('₹')]

In [ ]:
# Replace '—' with NA
df_2018['Amount($)'] = df_2018['Amount($)'].replace('—', pd.NA)

In [ ]:
# Replace '₹' with ''
df_2018['Amount($)'] = df_2018['Amount($)'].str.replace('₹', '')

In [ ]:
# View total missing values in the columns
df_2018.isna().sum()

Company_Brand      0
Industry           0
Stage              0
Amount($)        148
Location           0
What_it_does       0
Funding_Year       0
dtype: int64

* The 148 missing values present in the amount column represent rows which had '—'. We assume they are rows which represent undisclosed amount and drop these missing values.

In [ ]:
df_2018.dropna(inplace=True)

In [ ]:
# Convert the 'Amount($)' column to a float
df_2018['Amount($)'] = df_2018['Amount($)'].astype(float)

# Multiply the rows with had '₹' in the amount column with the average exchange rate for the year 2018
df_2018.loc[INR_rows, ['Amount($)']] = df_2018.loc[INR_rows, ['Amount($)']].values * 0.0146

In [ ]:
df_2018.head()

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000.0,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,2018

In [ ]:
df_2018['Stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Private Equity',
       'Venture - Series Unknown', 'Grant', 'Debt Financing',
       'Post-IPO Debt', 'Series H', 'Series C', 'Series E', 'Pre-Seed',
       'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Corporate Round', 'Post-IPO Equity',
       'Secondary Market', 'Non-equity Assistance', 'Funding Round'],
      dtype=object)

In [ ]:
# def stage_corrector(data, column='column_name'):
#     for row in data[column]:
#         if re.search('Series A|Series-A|series A', row):
#             return 'Series A'
#         elif re.search('Series B', row):
#             return 'Series B'
#         elif re.search('Series C', row):
#             return 'Series C'
#         elif re.search('.*Ang.*', row):
#             return 'Angel'
#         elif re.search('.*qui.*', row):
#             return 'Equity'
#         elif re.search('.*rant.*', row):
#             return 'Grant'
#         elif re.search('Seed|seed', row):
#             return 'Seed'
#         elif re.search('.*Und.*|.*Unk.*|.*unk.*', row):
#             return 'Unstated'
#         else:
#             return 'Other Stage'
    
     

# df_2018['new'] = stage_corrector(df_2018, 'Stage')
# df_2018.head(50)

In [ ]:
def stage_corrector(data, column='Stage'):
    corrected_stages = []
    for row in data[column]:
        if re.search('Series A|Series-A|series A', row):
            corrected_stages.append('Series A')
        elif re.search('Series B', row):
            corrected_stages.append('Series B')
        elif re.search('Series C', row):
            corrected_stages.append('Series C')
        elif re.search('.*Ang.*', row):
            corrected_stages.append('Angel')
        elif re.search('.*qui.*', row):
            corrected_stages.append('Equity')
        elif re.search('.*rant.*', row):
            corrected_stages.append('Grant')
        elif re.search('Seed|seed', row):
            corrected_stages.append('Seed')
        elif re.search('.*Und.*|.*Unk.*|.*unk.*', row):
            corrected_stages.append('Unstated')
        else:
            corrected_stages.append('Other Stage')

    return corrected_stages

df_2018['corrected_stages'] = stage_corrector(df_2018, 'Stage')
df_2018.tail()

,Company_Brand,Industry,Stage,Amount($),Location,What_it_does,Funding_Year,new,corrected_stages
520,SlicePay,"FinTech, Internet, Payments, Service Industry",Series A,14900000.0,"Bengaluru, Karnataka, India",SlicePay is an AI based instant credit app for...,2018,Seed,Series A
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,Seed,Series C
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,Seed,Seed
524,Droni Tech,Information Technology,Seed,511000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,Seed,Seed
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,Seed,Series C

In [ ]:
df_2018['corrected_stages'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Equity', 'Unstated',
       'Grant', 'Other Stage', 'Series C'], dtype=object)