<h1 align="center">Title: Indian Startup Funding Analysis</h1>

## Business Objective:
The goal of this project is to investigate the Indian Startup Ecosystem to better understand and provide valuable insight into the opportunites and challenges in the ecosystem in order to help stakeholders who plan on venturing into the startup ecosystem in India to make informed decisions based on finding from analyzing the dataset from 2018 to 2021.

### Import all necessary libraries

In [183]:
# Data Manipulation Libraries
import numpy as np
import pandas as pd

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Database Libraries
import pyodbc

# Other Utilities
from dotenv import dotenv_values
from warnings import filterwarnings
filterwarnings('ignore')

### Create connection for SQL Server

In [189]:
# Load Environment Variables
config = dotenv_values('.env')

Server_name = config.get('Server')
Database_name = config.get('Database')
Username = config.get('Login')
PassWord = config.get('Password')

# Create Database Connection
connection_string = f"DRIVER={{SQL Server}};SERVER={Server_name};DATABASE={Database_name};UID={Username};PWD={PassWord}"

connection = pyodbc.connect(connection_string)

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SSL Security error (18) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (SECDoClientHandshake()). (772)')

### Load tables from SQL and save a copy of the dataset

In [ ]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2020"
df_2020 = pd.read_sql(query, connection)

# Preview the dataset
df_2020.head()

In [ ]:
df_2020.shape

In [ ]:
# Query table as dataframe
query = "SELECT * FROM dbo.LP1_startup_funding2021"
df_2021 = pd.read_sql(query, connection)

# Preview the dataset
df_2021.head()

In [ ]:
df_2021['Sector'].unique()

In [ ]:
df_2021.shape

In [ ]:
# Save the dataset as csv files for each year
df_2021.to_csv('startup_funding2021.csv')
df_2020.to_csv('startup_funding2020.csv')

In [ ]:
df_2020_2021.shape

### Load other dataset in csv file

In [ ]:
# Read csv file
df_2018 = pd.read_csv('startup_funding2018.csv')
df_2018.head()

In [ ]:
df_2018.shape

In [ ]:
# Read csv file
df_2019 = pd.read_csv('startup_funding2019.csv')
df_2019.head()

In [ ]:
df_2019.shape

<h3>Hypothesis</h3>
<p>Null: Tech startups do not receive funding from investors.</p>
<p>Alternative: Tech startups receive funding from investors.</p>

<h3>Questions</h3>

1. What is the total amount of funding received from investors from 2018 to 2021?
2. How many startups emerged from 2018 to 2021?
3. What is the level of funding for startups based on their sector?
4. How dispersed are the startup firms over the locations?
5. What is the trend of funding based on the years of funding?
6. Is there a relationship between stage and funding receive?

### Exploratory Data Analysis (EDA)
* 2020-2021 Dataset

In [ ]:
print('The rows and columns in the 2020-2021 dataset are', df_2020_2021.shape, 'respectively.')

In [ ]:
# Check structure of the dataset
df_2020_2021.info()

We see the datatype for each column in the dataset and the number of non-null values in each column.

<h3>Check for missing values</h3>

In [ ]:
# Check for total missing values in the columns
df_2020_2021.isna().sum()

* We see the total number of missing values in the columns.
* Column10 has almost all it's values as missing values which makes it an irrelevant columns hence must be dropped
* The missing values in the sector column, founders, investor and the HeadQuarter must be replaced with 'Unstated'

<h3>Check for duplicate values</h3>

In [ ]:
df_2020_2021.duplicated().sum()

There are twenty-two duplicate rows in the dataset which we will have to keep only the first occurance of each

<h3>Inspect Individual Columns</h3>

In [ ]:
df_2020_2021['Amount'].unique()

* From the preview of the amount column we can see some signs there which makes the datatype object hence, it must be corrected.
* We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value. In view of this, we have to rename the amount column 'Amount($)'.
* Certain rows in the amount column have wrong inputs which are supposed to be in other columns and these rows must also be corrected.
* The undisclosed values in the column should be replaced with NaN since we can't replace it with zero as that will mean the amount raised was 0 dollars.
* The column must be converted to a float dtype after correcting the inconsistencies

In [ ]:
df_2020_2021['Stage'].unique()

* There are some inconsistencies like wrong spelling of the labels, and incorrect inputs values in the stage column which must be corrected as we can see from above.
* The missing values in this column will be replaced with 'Unstated'

* 2019 Dataset

In [ ]:
print('The rows and columns in the 2019 dataset are', df_2019.shape, 'respectively.')

In [ ]:
# Check structure of the dataset
df_2019.info()

* We see the datatype for each column in the dataset and the number of non-null values in each column.
* The column name for company/brand and What it does must be renamed to the recent format which is used in the recent dataset

<h3>Check for missing values</h3>

In [ ]:
# Check for total missing values in the columns
df_2019.isna().sum()

* The missing values in the sector column, founders, investor and the HeadQuarter must be replaced with 'Unstated'

<h3>Check for duplicate values</h3>

In [ ]:
df_2019.duplicated().sum()

There are no duplicate rows in the dataset

<h3>Inspect Individual Columns</h3>

In [ ]:
df_2019['Amount($)'].unique()

* The amount column has undisclosed values which must be replaced with NaN.
* The dollar sign, and coma must be cleaned from the column and converted to a float dtype.

In [ ]:
df_2019['Stage'].unique()

* There are some  wrong spelling of the labels in the stage column which must be corrected as we can see from above.
* The missing values in this column will be replaced with 'Unstated'

* 2018 Dataset

In [ ]:
df_2018.head()

* Company Name and About Company must be changed to Company_Brand, and What_it_does

In [ ]:
print('The rows and columns in the 2018 dataset are', df_2018.shape, 'respectively.')

In [ ]:
# Check structure of the dataset
df_2018.info()

We see the datatype for each column in the dataset and the number of non-null values in each column.

<h3>Check for missing values</h3>

In [ ]:
# Check for total missing values in the columns
df_2018.isna().sum()

There are no missing values in the 2018 Dataset

<h3>Check for duplicate values</h3>

In [ ]:
df_2018.duplicated().sum()

There is one duplicate which we will have to keep only the first occurance

<h3>Inspect Individual Columns</h3>

In [ ]:
df_2018['Amount'].unique()

* From the preview of the amount column we can see some signs there which makes the datatype object hence, it must be corrected.
* We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value. In view of this, we have to rename the amount column 'Amount($)'.
* The values in this column which have different currency will be converted to our base value using the conversion rate for the year in which funding was raised.
* The column must be converted to a float dtype after correcting the inconsistencies

In [ ]:
df_2018['Round/Series'].unique()

* The column name must be changed to Stage
* The inconsistencies in the column must be corrected to meet the new input of the current dataset

In [ ]:
df_2018['Industry'].unique()

* The valus column must be separated and then Sector selected from it.
* The Sector column must be created and added to the dataset.

In [ ]:
df_2018['Location']

* The name of the column must be changed to HeadQuarter and the values extracted from the first index of the strings separated by a comma.

<h2>Data Cleaning</h2>

Change column names for 2018, 2019 and 2020-2021 dataset

In [ ]:
df_2018.rename(columns={'Company Name': 'Company_Brand',
                'Amount': 'Amount($)',
                'About Company': 'What_it_does',
                'Round/Series': 'Stage'}, inplace=True)

In [ ]:
df_2018.head(1)

In [ ]:
df_2019.rename(columns={'Company/Brand': 'Company_Brand',
                        'What it does': 'What_it_does'}, inplace=True)

In [ ]:
df_2019.head(1)

In [ ]:
df_2020_2021.rename(columns={'Amount': 'Amount($)'},inplace=True)

In [ ]:
df_2020_2021.head(1)

Create new column for year funding

In [ ]:
dfk

Clean inconsistencies in the amount column for the 2018 dataset
* According to [Exchange Rates UK](https://www.exchangerates.org.uk/INR-USD-spot-exchange-rates-history-2018.html), the average rate for 1 INR to USD in 2018 was `0.0146` and that is the rate we are using to convert the INR amount to dollars

In [ ]:
trial = pd.read_csv('startup_funding2018.csv')

In [ ]:
from amt import amt_cleaner_2018

In [ ]:
trial.rename(columns={'Company Name': 'Company_Brand',
                'Amount': 'Amount($)',
                'About Company': 'What_it_does',
                'Round/Series': 'Stage'}, inplace=True)

In [ ]:
trial.head()

In [ ]:
result = amt_cleaner_2018(trial, 'Amount($)')